<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 	<!-- Vendor styles-->
    <link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
    <head th:fragment="head" th:replace="~{common/layout :: head}"></head>

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>
      <!-- Hero-->
      <!-- Page content-->
      <div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">홈</a></li>
            <li class="breadcrumb-item" aria-current="page">행사일정</li>
            <li class="breadcrumb-item active" aria-current="page">상세보기</li>
          </ol>
        </nav>
        <!-- Item-->
        <th:block th:if="evntNo != null">
        <article class="row align-items-center pb-5 mb-md-2 mb-lg-3 mb-xl-4">
          <div class="col-md-6 offset-xxl-1 mb-4 mb-md-0">
            <a href="#"><img class="rounded-5" th:src="${eventProgram.poster}" width="500" alt="Image" /></a>
          </div>
          <div class="col-md-5 col-xl-4">
            <div class="ms-md-4 ms-lg-5 ms-xxl-0">
              <h2 class="mb-lg-5" style="width: 600px" th:utext="${eventProgram.name.replaceAll('\n', '<br>')}">
              </h2>
              <p class="mb-0 mb-md-1">
              [[${eventProgram.summary}]]
              </p>
            </div>
            <a class="btn btn-primary w-100 w-sm-auto mt-5" href="#c-comment">후기 작성하기</a>
            <div class="d-flex align-items-center pt-2 pt-lg-3 mt-3">
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-half text-warning"></i>
              <i class="ai-star text-warning"></i>
              <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
              <span class="text-muted mt-n1 ms-2">(1,234)</span>
            </div>
            <div class="mt-5 h5">문의</div>
            <div class="h5">부산광역시청 문화유산과 / 051-888-5094</div>
          </div>
          <!-- Gallery grid with enabled thumbnails -->
          <div class="gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" data-thumbnails="true">
            <!-- Item -->
            <div class="col">
              <a th:href="${eventProgram.img1}" class="gallery-item d-block card-hover h-100">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                  <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                  <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">Image #1</div>
                  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <img th:src="${eventProgram.img1}" class="d-block rounded-4 h-100" alt="Image #1" style="width: 100%; height: auto; max-width: 408px; max-height: 214.934px;" />
              </a>
            </div>

            <!-- Item -->
            <div class="col">
              <a th:href="${eventProgram.img2}" class="gallery-item d-block card-hover h-100">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                  <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                  <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">Image #2</div>
                  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <img th:src="${eventProgram.img2}" class="d-block rounded-4 h-100" alt="Image #2" style="width: 100%; height: auto; max-width: 408px; max-height: 214.934px;" />
              </a>
            </div>

            <!-- Item -->
            <div class="col">
              <a th:href="${eventProgram.img3}" class="gallery-item d-block card-hover h-100">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                  <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                  <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">Image #3</div>
                  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <img th:src="${eventProgram.img3}" class="d-block rounded-4 h-100" alt="Image #3" style="width: 100%; height: auto; max-width: 408px; max-height: 214.934px;" />
              </a>
            </div>
          </div>

          <div class="mt-xxl-4 row">
            <h1 class="mt-5 ms-5 ps-5 text-primary">주요프로그램</h1>
            <div class="col-lg-12 pe-lg-4 pe-xl-5 ms-5">
              <div class="card ms-xxl-5 mt-5 mb-5" style="width: 450px; height: 400px; float: left">
                <div class="card-body align">
                  <h2 class="card-title">야경 夜景</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.view.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5 me-5" style="width: 450px; height: 400px; float: right">
                <div class="card-body">
                  <h2 class="card-title">야로 夜路</h2>
                  <p class="card-text" style="font-size: 20px">
                    <p class="card-text" style="font-size: 20px; min-height: 100px">
                    <span th:utext="${eventProgram.street.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5" style="width: 450px; height: 400px; float: left">
                <div class="card-body align">
                  <h2 class="card-title">야설 夜設</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.story.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5 me-5" style="width: 450px; height: 400px; float: right">
                <div class="card-body">
                  <h2 class="card-title">야사 夜史</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.history.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5" style="width: 450px; height: 400px; float: left">
                <div class="card-body align">
                  <h2 class="card-title">야화 夜畵</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.picture.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5 me-5" style="width: 450px; height: 400px; float: right">
                <div class="card-body">
                  <h2 class="card-title">야시 夜市</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.market.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5" style="width: 450px; height: 400px; float: left">
                <div class="card-body align">
                  <h2 class="card-title">야식 夜食</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.food.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>

              <div class="card ms-xxl-5 mt-5 mb-5 me-5" style="width: 450px; height: 400px; float: right">
                <div class="card-body">
                  <h2 class="card-title">야숙 夜宿</h2>
                  <p class="card-text" style="font-size: 20px; min-height: 100px">
                  <span th:utext="${eventProgram.sleep.replaceAll('\n', '<br>')}" />
                  </p>
                </div>
              </div>
            </div>

            <!-- Comment form-->
            <div class="border-0 col-lg-12 col-xl-10 pe-lg-4 pe-xl-0 align-items-center offset-1">
              <div class="border-bottom py-4 mt-2 mb-4">
                <div class="d-flex align-items-center pb-1 mb-3">
                  <img class="rounded-circle" src="assets/img/avatar/07.jpg" width="48" alt="Comment author" />
                  <div class="ps-3">
                    <h6 class="mb-0">후기 작성자</h6>
                    <span class="fs-sm text-muted">xxxx.xx.xx</span>
                  </div>
                </div>
                <p class="pb-2 mb-0">후기 작성 테스트</p>
              </div>
              <div id="comment"></div>

              <!-- 후기 작성-->
              <div class="card-body">
                <h2 class="pb-2 pb-lg-3 pb-xl-4">후기 작성</h2>
                <form class="row needs-validation g-4" novalidate>
                  <div class="col-12">
                    <label class="form-label" for="c-comment">내용</label>
                    <textarea class="form-control" rows="4" placeholder="후기를 작성해 주세요..." required id="c-comment"></textarea>
                  </div>
                  <div class="col-12"></div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit" style="float: right">후기 남기기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </article>

        <!-- Sidebar toggle button-->
        <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog">
          <i class="ai-layout-column me-2"></i>
          Sidebar
        </button>
      </div>
    </main>
    
    <!-- Footer-->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="assets/vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.js"></script>
  </body>
</html>
