<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 	<!-- Vendor styles-->
    <link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
    <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
  
    

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>
      <!-- Hero-->
      <!-- Page content-->
      <div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">홈</a></li>
            <li class="breadcrumb-item" aria-current="page">행사일정</li>
            <li class="breadcrumb-item active" aria-current="page">상세보기</li>
          </ol>
        </nav>
        <!-- Item-->
        <th:block th:if="evntNo != null">
        <article class="row align-items-center pb-5 mb-md-2 mb-lg-3 mb-xl-4">
          <div class="col-md-6 offset-xxl-1 mb-4 mb-md-0">
            <a href="#"><img class="rounded-C5" th:src="${event.poster}" width="500" alt="Image" /></a>
          </div>
          <div class="col-md-5 col-xl-4">
            <div class="ms-md-4 ms-lg-5 ms-xxl-0">
              <h2 class="mb-lg-5" style="width: 600px" th:utext="${event.name.replaceAll('\n', '<br>')}">
              </h2>
              <p class="mb-0 mb-md-1">
              [[${event.summary}]]
              </p>
            </div>
            <a class="btn btn-primary w-100 w-sm-auto mt-5" href="#content">후기 작성하기</a>
            <div class="d-flex align-items-center pt-2 pt-lg-3 mt-3">
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-filled text-warning"></i>
              <i class="ai-star-half text-warning"></i>
              <i class="ai-star text-warning"></i>
              <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
              <span class="text-muted mt-n1 ms-2">(1,234)</span>
            </div>
            <div class="mt-5 h5"></div>
            <div class="h5"></div>
          </div>
          <!-- Gallery grid with enabled thumbnails -->
          <div class="gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" data-thumbnails="true">
			  <div th:each="eventImg : ${eventImages}" class="col">
			    <a th:href="${eventImg.url}" class="gallery-item d-block card-hover h-100">
			      <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
			        <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
			        <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">Image</div>
			        <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
			      </div>
			      <img th:src="${eventImg.url}" class="d-block rounded-4 h-100" alt="Image" style="width: 100%; height: auto; max-width: 408px; max-height: 214.934px;" />
			    </a>
			  </div>
			</div>

          <div class="mt-xxl-4 row">
            <h1 class="mt-5 ms-5 ps-5 text-primary">주요프로그램</h1>
            <div class="col-lg-12 pe-lg-4 pe-xl-5 ms-5">
              <div class="col-lg-12 pe-lg-4 pe-xl-5 ms-5">
    <div th:each="eventProgramDTO : ${eventProgramList}">
        <div class="card mt-5 mb-5 me-5" th:if="${eventProgramDTO.title == '야숙'}" style="width: 450px; height: 400px; float: right">
            <div class="card-body">
                <h2 class="card-title">야숙 夜宿</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5" th:if="${eventProgramDTO.title == '야식'}" style="width: 450px; height: 400px; float: left">
            <div class="card-body align">
                <h2 class="card-title">야식 夜食</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5 me-5" th:if="${eventProgramDTO.title == '야시'}" style="width: 450px; height: 400px; float: right">
            <div class="card-body align">
                <h2 class="card-title">야시 夜市</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5" th:if="${eventProgramDTO.title == '야화'}" style="width: 450px; height: 400px; float: left">
            <div class="card-body align">
                <h2 class="card-title">야화 夜畵</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5 me-5" th:if="${eventProgramDTO.title == '야사'}" style="width: 450px; height: 400px; float: right">
            <div class="card-body align">
                <h2 class="card-title">야사 夜史</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5" th:if="${eventProgramDTO.title == '야설'}" style="width: 450px; height: 400px; float: left">
            <div class="card-body align">
                <h2 class="card-title">야설 夜設</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5 me-5" th:if="${eventProgramDTO.title == '야로'}" style="width: 450px; height: 400px; float: right">
            <div class="card-body align">
                <h2 class="card-title">야로 夜路</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
            </div>
        </div>
        <div class="card mt-5 mb-5" th:if="${eventProgramDTO.title == '야경'}" style="width: 450px; height: 400px; float: left">
            <div class="card-body align">
                <h2 class="card-title">야경 夜景</h2>
                <p class="card-text" style="font-size: 20px; min-height: 100px" th:utext="${eventProgramDTO.content.replaceAll('\n', '<br>')}" />
                <h3>장소</h3>
                <p class="card-text" style="font-size: 20px" th:utext="${eventProgramDTO.location.replaceAll('\n', '<br>')}" />
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

            <!-- Comment form-->
            <h2 class="pb-2 pb-lg-3 pb-xl-4">후기 목록</h2>
				<div th:each="review : ${eventReviews}">
				    <div class="border-bottom py-4 mt-2 mb-4">
				        <div class="d-flex align-items-center pb-1 mb-3">
				            <img class="rounded-circle" th:src="@{/assets/img/avatar/07.jpg}" width="48" alt="Comment author" />
				            <div class="ps-3">
				                <h6 class="mb-0" th:text="${review.name}"></h6>
				                <span th:if="${review.rating == 1}"><i class="ai-star-filled text-warning"></i></span>
							    <span th:if="${review.rating == 2}"><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i></span>
							    <span th:if="${review.rating == 3}"><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i></span>
							    <span th:if="${review.rating == 4}"><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i></span>
							    <span th:if="${review.rating == 5}"><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i><i class="ai-star-filled text-warning"></i></span>
				                <span class="fs-sm text-muted" th:text="${#temporals.format(review.writeTime, 'yyyy.MM.dd')}"></span>
				            </div>
				        </div>
				        <p class="pb-2 mb-0" th:text="${review.content}"></p>
				        <form th:action="@{/replyDel}" method="post">
				            <input type="hidden" name="evntReviewNo" th:value="${review.evntReviewNo}" />
				            <input type="hidden" name="evntNo" th:value="${review.evntNo}" />
				            <button type="submit" class="btn btn-sm btn-danger offset-11" >삭제</button>
				        </form>
				    </div>
				</div>

              <!-- 후기 작성 -->
				<div class="card-body">
				  <h2 class="pb-2 pb-lg-3 pb-xl-4">후기 작성</h2>
				  <form class="row needs-validation g-4" action="/reply" method="post" id="eventReviewForm">
				    <div class="col-12">
				      <label class="form-label">내용</label>
				      <textarea class="form-control" rows="4" placeholder="후기를 작성해 주세요..." name="content"></textarea>
				    </div>
				    <div class="col-12"></div>
				    <input type="hidden" name="evntNo" th:value="${event.evntNo}">
				    <input type="hidden" name="writeTime" id="writeTime" value="">
				     <div class="col-12">
                  <div class="card card-body bg-light">
                    <div class="fw-bold text-center fs-2 pb-3" style="color: #780422;">별점 남기기</div>
                    <hr>
                      <div class="align-items-center text-center text-warning pt-4" id="starFormat">
                        <input type="radio" name="rating" id="1star" value="1" style="opacity: 0;" th:checked="${ratingValue == 1}" >
                        <label class="ai-star fs-2" for="1star" id="1starLabel"></label>
                        <input type="radio" name="rating" id="2star" value="2" style="opacity: 0;" th:checked="${ratingValue == 2}" >
                        <label class="ai-star fs-2" for="2star" id="2starLabel"></label>
                        <input type="radio" name="rating" id="3star" value="3" style="opacity: 0;" th:checked="${ratingValue == 3}">
                        <label class="ai-star fs-2" for="3star" id="3starLabel"></label>
                        <input type="radio" name="rating" id="4star" value="4" style="opacity: 0;" th:checked="${ratingValue == 4}">
                        <label class="ai-star fs-2" for="4star" id="4starLabel"></label>
                        <input type="radio" name="rating" id="5star" value="5" style="opacity: 0;" th:checked="${ratingValue == 5}">
                        <label class="ai-star fs-2" for="5star" id="5starLabel"></label>
                      </div>
                    </div>
				    
				    <div class="col-12"  style="padding-top: 20px;">
				      <button class="btn btn-primary" type="submit" style="float: right" form="eventReviewForm">후기 남기기</button>
				    </div>
				  </form>
				</div>
            </div>
          </div>
			</div>
        </article>

        <!-- Sidebar toggle button-->
        <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog">
          <i class="ai-layout-column me-2"></i>
          Sidebar
        </button>
      </div>
    </main>
    
    <!-- Footer-->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    
    <script>
    function setWriteTime() {
        const writeTimeField = document.getElementById("writeTime");
        const now = new Date();
        const isoString = now.toISOString(); // ISO 8601 형식의 시간으로 변환
        writeTimeField.value = isoString;
    }

    // 페이지가 로드될 때 작성 시간을 설정합니다.
    document.addEventListener("DOMContentLoaded", function () {
        setWriteTime();
    });
</script>

<script src="http://code.jquery.com/jquery-latest.js"></script>
                    <script>
                      $(document).ready(function() {
                        $('#starFormat label').each(function() {
                          var icon = $(this);
                          icon.hover(function() {
                            var num = parseInt($(this).attr('id').charAt(0), 10);
                            for (var i = 1; i <= 5; i++) {
                              var id = '#' + i + 'starLabel';
                              if (i <= num) {
                                $(id).removeClass('ai-star');
                                $(id).addClass('ai-star-filled');
                              } else {
                                $(id).addClass('ai-star');
                                $(id).removeClass('ai-star-filled');
                              }
                            }
                          });
                        });
                        $('#starFormat input').each(function() {
                          var button = $(this);
                          button.change(function () {
                            var score = button.val();
                          });
                        });
                      });
                    </script>
                      <style>
                        .star-rating {
                          display: flex;
                          flex-direction: row-reverse;
                          font-size: 2.25rem;
                          line-height: 2.5rem;
                          justify-content: space-around;
                          padding: 0 0.2em;
                          text-align: center;
                          width: 5em;
                        }
                        
                        .star-rating input {
                          display: none;
                        }
                        
                        .star-rating label {
                          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                          -webkit-text-stroke-width: 2.3px;
                          -webkit-text-stroke-color: #2b2a29;
                          cursor: pointer;
                        }
                        
                        .star-rating :checked ~ label {
                          -webkit-text-fill-color: gold;
                        }
                        
                        .star-rating label:hover,
                        .star-rating label:hover ~ label {
                          -webkit-text-fill-color: #fff58c;
                        }
                      </style>
                    </div>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="assets/vendor/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.js"></script>
  </body>
</html>
