<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 향후 Mapper interface가 정의 될 위치 -->
<mapper namespace="com.multi.bbs.account.model.mapper.AccountMapper">
	<sql id="selectMemberSql">
		SELECT 	
			MNO, ROLE, NAME, EMAIL, PASSWORD, PHONE, STATE, enrollDate, reFileName
		FROM MEMBER
	</sql>
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectAll" resultType="com.multi.bbs.account.model.vo.Member">
		<include refid="selectMemberSql"/>
	</select>
	
	<select id="selectMember" parameterType="string" resultType="com.multi.bbs.account.model.vo.Member">
		<include refid="selectMemberSql"/>
		WHERE EMAIL = #{email} AND STATE = 'Y'
	</select>	
	
	<insert id="insertMember" parameterType="com.multi.bbs.account.model.vo.Member">
		INSERT INTO MEMBER(
			MNO, ROLE, NAME, 	
			EMAIL, PASSWORD, PHONE,
			STATE, enrollDate, reFileName
		) VALUES (
			 0, DEFAULT, #{name},
			 #{email}, #{password}, #{phone}, 
			 DEFAULT, DEFAULT, #{reFileName}
		)
	</insert>
	
	<update id="updateMember" parameterType="com.multi.bbs.account.model.vo.Member">
		UPDATE Member 
			SET mno = mno
			<if test="reFileName != null">
				, reFileName = #{reFileName} 
			</if>
			<if test="name != null">
				, name = #{name}
			</if>
			<if test="email != null">
				, email = #{email}
			</if>
			<if test="phone != null">
				, phone = #{phone}
			</if>
			WHERE mno = #{mno}
	</update>
	
	<update id="updatePassword" parameterType="map">
	    UPDATE Member 
	    SET password = #{newPassword}
	    WHERE mno = #{mno}
	</update>
	
	<delete id="deleteAccountInfo" parameterType="int">
        DELETE FROM MEMBER
        WHERE MNO = #{mno}
    </delete>
    
	<select id="getOrderedList" parameterType="int" resultType="com.multi.bbs.shop.OrderedList">
		SELECT * FROM OrderedList WHERE mno = #{mno} ORDER BY orderDate DESC
	</select>
	
</mapper>