<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 향후 Mapper interface가 정의 될 위치 -->
<mapper namespace="com.multi.bbs.account.model.mapper.AccountMapper">
	<sql id="selectMemberSql">
		SELECT 	
			MNO, ROLE, NAME, EMAIL, PASSWORD, PHONE, STATE, enrollDate
		FROM MEMBER
	</sql>
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectAll" resultType="com.multi.bbs.account.model.vo.Member">
		<include refid="selectMemberSql"/>
	</select>
	
	<select id="selectMember" parameterType="string" resultType="com.multi.bbs.account.model.vo.Member">
		<include refid="selectMemberSql"/>
		WHERE EMAIL = #{email} AND STATE = 'Y'
	</select>	
	
	<insert id="insertMember" parameterType="com.multi.bbs.account.model.vo.Member">
		INSERT INTO MEMBER(
			MNO, ROLE, NAME, 	
			EMAIL, PASSWORD, PHONE,
			STATE, enrollDate
		) VALUES (
			 0, DEFAULT, #{name},
			 #{email}, #{password}, #{phone}, 
			 DEFAULT, DEFAULT
		)
	</insert>
	
	
	
</mapper>