<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <!-- Vendor styles-->
  <link rel="stylesheet" media="screen" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}"/>
  <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
  
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>
      
      <!-- Hero-->
      <section>
        <div class="jarallax bg-dark py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7" style="height: 50vh !important;">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
          <div class="jarallax-img" style="background-image: url(https://lh3.googleusercontent.com/TLyo276022O-OJKi4OGaQngAE_fI7ROyLiiudbdVY-trPGInygNw-mYkuxzUjMM7NvA5cytHw6IOqdw4HgtKy46-nHjyqeFQv_BxhZgWIQhGURctI8l8Yg=s0);"></div>
          <div class="container position-relative zindex-5">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5">
                <h1 class="display-2 text-light pb-sm-2 pb-md-3">투어</h1>
                <h5 class="fs-4 text-light pb-sm-2 pb-md-3">
                  나만의 투어플랜을 만들고<br>
                  함께 할 친구를 모집해 보세요
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page content-->
      <div class="container mt-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
            <li class="breadcrumb-item active" aria-current="page">투어</li>
          </ol>
        </nav>
        <div class="row mb-md-2 mb-xl-4">
          <!-- Blog posts-->
          <div class="col-lg-9 pe-lg-4 pe-xl-5">
            <h1 class="pb-3 pb-lg-4">투어 모집</h1>
            
            <!-- Post-->
            <article class="row g-0 border-0 mb-4" th:each="tour: ${tours}">
              <a class="col-sm-5 bg-repeat-0 bg-size-cover bg-position-center rounded-5" th:href="@{/tour/detail(tno=${tour.tno})}" style="background-image: url(assets/img/blog/list/01.jpg); min-height: 14rem"></a>
              <div class="col-sm-7">
                <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4">
                  <h3>
                    <a th:href="@{/tour/detail(tno=${tour.tno})}" th:text="${tour.title}"></a>
                  </h3>
                  <p class="d-sm-none d-md-block">
                    <span class="text-body fw-bold me-2">지역</span>[[${tour.region}]] <br>
                    <span class="text-body fw-bold me-2">일정</span>[[${tour.startDate}]] ~ [[${tour.endDate}]] | [[${tour.duration}]]박 [[${tour.duration + 1}]]일 <br>
                    <span class="text-body fw-bold me-2">인원</span>[[${tour.numOfPeople}]]명 <br>
                  </p>
                  <div class="d-flex flex-wrap align-items-center mt-n2">
                    <a class="nav-link text-muted fs-sm fw-normal d-flex align-items-end p-0 mt-2" href="#"><i class="ai-message fs-lg me-1"></i>12</a><span class="fs-xs opacity-20 mt-2 mx-3">|</span><span class="fs-sm text-muted mt-2">[[${tour.timeDiff}]]</span><span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                    <span class="badge text-nav fs-xs border mt-2">[[${tour.category}]]</span>
                    <span class="badge text-nav fs-xs border mt-2 bg-success ms-1 text-white" th:if="${tour.state == 'C'}">마감됨</span>
                  </div>
                </div>
              </div>
            </article>
            <!-- Pagination-->
            <div class="gy-3 align-items-center mt-lg-5 pt-2 pt-md-4 pt-lg-0">
              <nav class="justify-content-center">
                <ul class="pagination pagination-lg justify-content-center">
                  <li class="page-item">
                    <button class="page-link" th:onclick="|movePage(${pageInfo.prevPage});|">
                      <i class="ai-arrow-left fs-xl"></i>
                    </button>
                  </li>
                  <th:block th:each="num, status: ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                  	<th:block th:if="${status.current == pageInfo.currentPage}">
	                  <li class="page-item d-none d-sm-block active">
	                    <button class="page-link" th:onclick="|movePage(${status.current});|">[[${status.current}]]</button>
	                  </li>
                  	</th:block>
                  	<th:block th:if="${status.current != pageInfo.currentPage}">
	                  <li class="page-item d-none d-sm-block active">
	                    <button class="page-link text-muted" th:onclick="|movePage(${status.current});|">[[${status.current}]]</button>
	                  </li>
                  	</th:block>
                  </th:block>
                  <li class="page-item">
                    <button class="page-link" th:onclick="|movePage(${pageInfo.nextPage});|">
                      <i class="ai-arrow-right fs-xl"></i>
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- Sidebar (offcanvas on sreens < 992px)-->
          <aside class="col-lg-3">
            <div class="offcanvas-lg offcanvas-end" id="sidebarBlog">
              <div class="offcanvas-header">
                <h4 class="offcanvas-title">Sidebar</h4>
                <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarBlog"></button>
              </div>
              <div class="offcanvas-body">
                <a type="button" class="btn btn-secondary w-100 mb-5" th:href="@{/tour/post}">내 투어플랜 만들기</a>
                <!-- Search box-->
                <form method="get" th:action="@{/tour}" name="searchForm">
                  <input type="hidden" name="page" value="1">
                  <div class="position-relative mb-4 mb-lg-5">
                    <button type="submit" class="btn btn-link ai-search position-absolute top-50 start-0 translate-middle-y ms-3 px-1" style="color: #202020;"></button>
                    <input class="form-control ps-5" type="search" placeholder="키워드로 검색" name="keyword" th:value="${param.keyword}">
                  </div>
                  <!-- 구분 -->
                  <div class="pb-4">
                    <h4>구분</h4>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="ex-check-4" name="heritage" th:checked="${#strings.equals(param.heritage, 'on')} ? true : null">
                      <label class="form-check-label" for="ex-check-4">문화재</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="ex-check-5" name="museum" th:checked="${#strings.equals(param.museum, 'on')} ? true : null">
                      <label class="form-check-label" for="ex-check-5">박물관</label>
                    </div>
                  </div>
                  <!-- 일정 -->
                  <div class="pb-4">
                    <h4>일정</h4>
                    <div class="input-group py-0">
                      <span class="input-group-text">
                        <i class="ai-calendar"></i>
                      </span>
                      <script th:inline="javascript">
                       	var dateRange = [[${param.startDate}]];
	                      if (dateRange != null) {
	                        	dateRange = dateRange[0].split(" to ");
	                        	var startDate = [];
	                        	for (var i = 0; i < dateRange.length; i++) {
	                        		startDate.push(new Date(dateRange[i]));
	                        	}
	                        	console.log(startDate);
	                      }
                        document.addEventListener('DOMContentLoaded', function() {
                            var datePickerOptions = {
                                altInput: true,
                                altFormat: 'Y-m-d',
                                dateFormat: 'Y-m-d',
                                defaultDate: startDate,
                                mode: 'range'
                            };
                            var datePickerInput = document.querySelector('.date-picker');
                            flatpickr(datePickerInput, datePickerOptions);
                        });
                      </script>
                      <input class="form-control date-picker" type="text" placeholder="날짜 범위" name="startDate" id="startDate">
                    </div>
                  </div>
                  <!-- 지역 -->
                  <div class="pb-4">
                    <h4>지역</h4>
                    <select id="select-md" class="form-select" name="region">
                      <option value="">지역 선택</option>
                      <option value="서울/인천/경기" th:selected="${#strings.equals(param.region, '서울/인천/경기')} ? true : null">서울/인천/경기</option>
                      <option value="강원" th:selected="${#strings.equals(param.region, '강원')} ? true : null">강원</option>
                      <option value="대전/충청" th:selected="${#strings.equals(param.region, '대전/충청')} ? true : null">대전/충청</option>
                      <option value="대구/경북" th:selected="${#strings.equals(param.region, '대구/경북')} ? true : null">대구/경북</option>
                      <option value="부산/울산/경남" th:selected="${#strings.equals(param.region, '부산/울산/경남')} ? true : null">부산/울산/경남</option>
                      <option value="전북" th:selected="${#strings.equals(param.region, '전북')} ? true : null">전북</option>
                      <option value="광주/전남" th:selected="${#strings.equals(param.region, '광주/전남')} ? true : null">광주/전남</option>
                      <option value="제주" th:selected="${#strings.equals(param.region, '제주')} ? true : null">제주</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <!-- Sidebar toggle button-->
      <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog"><i class="ai-layout-column me-2"></i>Sidebar</button>
    </main>
    
    <!-- Footer-->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg><i class="ai-arrow-up"></i></a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js}"></script>
    <script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
    <script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/assets/vendor/flatpickr/dist/plugins/rangePlugin.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/assets/js/theme.js}"></script>
    <script type="text/javascript">
		function movePage(page){
			searchForm.page.value = page;
			searchForm.submit();
		}
	</script>
  </body>
</html>