<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <!-- Vendor styles-->
  <link rel="stylesheet" media="screen" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}" />
  <link rel="stylesheet" media="screen" th:href="@{/assets/vendor/fullcalendar/main.min.css}" />
  
  <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
  
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>
  
      <!-- Hero-->
      <section>
        <div class="jarallax bg-dark py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7" style="height: 50vh !important">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
          <div
            class="jarallax-img"
            style="
              background-image: url(https://lh3.googleusercontent.com/TLyo276022O-OJKi4OGaQngAE_fI7ROyLiiudbdVY-trPGInygNw-mYkuxzUjMM7NvA5cytHw6IOqdw4HgtKy46-nHjyqeFQv_BxhZgWIQhGURctI8l8Yg=s0);
            "></div>
          <div class="container position-relative zindex-5">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5">
                <h1 class="display-2 text-light pb-sm-2 pb-md-3">투어</h1>
                <h5 class="fs-4 text-light pb-sm-2 pb-md-3">
                  나만의 투어플랜을 만들고
                  <br />
                  함께 할 친구를 모집해 보세요
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page content-->
      <div class="container mt-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{/tour}">투어</a></li>
            <li class="breadcrumb-item active" aria-current="page">투어플랜 만들기</li>
          </ol>
        </nav>
        <div class="row mb-md-2 mb-xl-4">
          <!-- Post title + post meta-->
          <h1 class="pb-2 pb-lg-3">
            [[${tour.title}]]
            <span class="badge bg-primary fs-sm ms-1" th:if="${tour.category == 'heritage'}">문화재</span>
            <span class="badge bg-secondary fs-sm ms-1" th:if="${tour.category == 'museum'}">박물관</span>
            <span class="badge bg-success fs-sm ms-1" th:if="${tour.state == 'C'}">마감됨</span>
          </h1>
          <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
            <div class="d-flex align-items-center mb-4 me-4">
	          <div class="rounded-circle border overflow-hidden align-items-center" style="width: 48px !important; height: 48px !important; display: flex">
	            <i class="ai-user mx-auto" style="font-size: 28px; color: #303030;" th:if="${tour.profilePic == null}"></i>
	            <img th:src="@{'/board/file/' + ${tour.profilePic}}" style="width: 48px; height: 48px;" th:if="${tour.profilePic != null}">
	          </div>
              <span class="fw-bold ms-3">[[${tour.name}]]</span>
              <span class="text-muted mx-3">|</span>
              <span class="text-muted">[[${tour.timeDiff}]]</span>
            </div>
          </div>
          <!-- Post content-->
          <h2 class="h4">지역</h2>
          <p class="fs-lg mb-5">[[${tour.region}]]</p>
          <h2 class="h4">일정</h2>
          <p class="fs-lg mb-5">[[${tour.startDate}]] ~ [[${tour.endDate}]] | [[${tour.duration}]]박 [[${tour.duration + 1}]]일</p>
          <h2 class="h4">모집인원</h2>
          <p class="fs-lg mb-5">[[${tour.numOfPeople}]]명</p>
          <p class="fs-lg mb-5">[[${tour.content}]]</p>
          <div class="rounded-1" id="map" style="width: 100%; height: 600px"></div>
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b405a10ab3aef9b7d1801f29c81327a2"></script>
          <div id="calendar" class="mt-4"></div>
          <th:block th:if="${loginMember != null}">
	          <div class="row mt-4">
	            <div class="col-6">
	              <a th:href="@{/tour}" class="btn btn-primary">목록</a>
	            </div>
	            <div class="col-6 text-end" th:if="${loginMember.mno == tour.mno}">
	              <a th:href="@{/tour/complete(tno=${tour.tno}, complete='true')}" class="btn btn-success me-2" th:if="${tour.state == 'C'}">모집</a>
	              <a th:href="@{/tour/complete(tno=${tour.tno}, complete='false')}" class="btn btn-success me-2" th:if="${tour.state == 'Y'}">마감</a>
	              <a th:onclick="deleteTour([[${tour.tno}]]); return false;" class="btn btn-danger">삭제</a>
	            </div>
	          </div>
          </th:block>
          <!-- Comments-->
          <div class="mt-5" id="comments">
            <h2 class="h1 py-lg-1 py-xl-3">댓글</h2>
            <hr />
            <!-- Comment-->
            <div class="border-bottom py-4 mt-2 mb-4" th:each="comment: ${comments}">
              <div class="d-flex align-items-center pb-1 mb-3">
	            <div class="rounded-circle border overflow-hidden align-items-center" style="width: 48px !important; height: 48px !important; display: flex">
	              <i class="ai-user mx-auto" style="font-size: 28px; color: #303030;" th:if="${comment.reFileName == null}"></i>
	              <img th:src="@{'/board/file/' + ${comment.reFileName}}" style="width: 48px; height: 48px;" th:if="${comment.reFileName != null}">
	            </div>
                <div class="ps-3">
                  <h6 class="mb-0">[[${comment.name}]]</h6>
                  <span class="fs-sm text-muted">[[${comment.timeDiff}]]</span>
                </div>
                <th:block th:if="${loginMember != null}">
                  <th:block th:if="${loginMember.mno == comment.mno}">
	              	<a th:href="@{/tour/comment/delete(tno=${tour.tno}, cno=${comment.cno})}" class="btn btn-danger px-3 py-1 rounded-1 mt-0" style="margin-left: auto;">삭제</a>
                  </th:block>
                </th:block>
              </div>
              <p class="pb-2 mb-0">
                [[${comment.content}]]
              </p>
              <div class="accordion-item" th:if="${loginMember != null}">
			    <h3 class="accordion-header" th:id="${'heading' + comment.cno}">
	              <button class="nav-link fs-sm fw-semibold px-0 py-2 accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#collapse' + comment.cno}" aria-expanded="true" aria-controls="collapseOne">
	                대댓글
	                <i class="ai-redo fs-xl ms-2"></i>
	              </button>
			    </h3>
			    <div class="accordion-collapse collapse" th:id="${'collapse' + comment.cno}" th:aria-labelledby="${'heading' + comment.cno}" data-bs-parent="#accordionDefault">
			      <div class="accordion-body fs-sm">
                    <form class="row needs-validation g-4" method="post" th:action="@{/tour/comment(update=${comment.cno})}">
	                  <input type="hidden" name="tno" th:value="${tour.tno}">
	                  <div class="col-12">
	                    <textarea class="form-control bg-white" rows="4" placeholder="댓글을 통해 투어 동행을 신청해 보세요." required id="c-comment" name="content"></textarea>
	                  </div>
	                  <div class="col-12">
	                    <button class="btn btn-warning" type="submit">등록하기</button>
	                  </div>
	                </form>
			      </div>
			    </div>
			  </div>
			    <th:block th:each="reply: ${replies}">
	              <!-- Comment reply-->
	              <div class="card card-body border-0 bg-secondary mt-4" th:if="${comment.cno == reply.cno}">
	                <div class="d-flex align-items-center pb-1 mb-3">
			          <div class="rounded-circle border overflow-hidden align-items-center" style="width: 48px !important; height: 48px !important; display: flex">
			            <i class="ai-user mx-auto" style="font-size: 28px; color: #303030;" th:if="${reply.reFileName == null}"></i>
			            <img th:src="@{'/board/file/' + ${reply.reFileName}}" style="width: 48px; height: 48px;" th:if="${reply.reFileName != null}">
			          </div>
	                  <div class="ps-3">
	                    <h6 class="mb-0">[[${reply.name}]]</h6>
	                    <span class="fs-sm text-muted">[[${reply.timeDiff}]]</span>
	                  </div>
		              <th:block th:if="${loginMember != null}">
		                <th:block th:if="${loginMember.mno == reply.mno}">
			              <a th:href="@{/tour/comment/deleteReply(tno=${tour.tno}, rcno=${reply.rcno})}" class="btn btn-danger px-3 py-1 rounded-1 mt-0" style="margin-left: auto;">삭제</a>
		                </th:block>
		              </th:block>
	                </div>
	                <p class="mb-0">
	                  [[${reply.content}]]
	                </p>
	              </div>
			    </th:block>
            </div>
            <!-- Comment form-->
            <div class="card border-0 bg-secondary pt-2 p-md-2 p-xl-3 p-xxl-4 mt-n3 mt-md-0" th:if="${loginMember != null}">
              <div class="card-body">
                <h2 class="pb-2 pb-lg-3 pb-xl-4">댓글 작성</h2>
                <form class="row needs-validation g-4" method="post" th:action="@{/tour/comment}">
                  <input type="hidden" name="tno" th:value="${tour.tno}">
                  <div class="col-12">
                    <textarea class="form-control bg-white" rows="4" placeholder="댓글을 통해 투어 동행을 신청해 보세요." required id="c-comment" name="content"></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-warning" type="submit">등록하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js}"></script>
    <script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/assets/vendor/fullcalendar/main.min.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/assets/js/theme.js}"></script>

    <script th:inline="javascript">
      var tourSchedules = [[${schedules}]];

      var mapContainer = document.getElementById("map"); // 지도를 표시할 div
      var mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 8, // 지도의 확대 레벨
      };
      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      var calendar = function (userOptions) {
        // forEach function
        var forEach = function forEach(array, callback, scope) {
          for (var i = 0; i < array.length; i++) {
            callback.call(scope, i, array[i]); // passes back stuff we need
          }
        }; // Calendar initialisation

        var calendars = document.querySelectorAll(".calendar");
        forEach(calendars, function (index, value) {
          var options = _objectSpread(
            {
              themeSystem: "bootstrap5",
            },
            userOptions
          );

          var calendarInstance = new FullCalendar.Calendar(value, options);
          calendarInstance.render();
        });
      };

      var initOptions = {
        locale: "ko",
        headerToolbar: {
          left: "prev,next today",
          center: "",
          right: "dayGridMonth,timeGridWeek,listWeek",
        },
        initialView: "timeGridWeek",
        eventTimeFormat: {
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
        },
        events: [],
      };

      var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
      var markers = [];
      function addMarker(name, la, lo) {
        var imageSize = new kakao.maps.Size(24, 35);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
        var marker = new kakao.maps.Marker({
          map: map,
          position: new kakao.maps.LatLng(la, lo),
          title: name,
          image: markerImage,
        });
        markers.push(marker);
      }

      $(document).ready(function () {
        $("#calendar").addClass("calendar");
        for (var i = 0; i < tourSchedules.length; i++) {
          var newEvent = {
            title: tourSchedules[i].name,
            start: tourSchedules[i].startTime,
            end: tourSchedules[i].endTime,
            classNames: ["event-custom-style", "bg-light", "text-nav", "border-0", "rounded-1", "p-1", "ps-3", "border-start", "border-5", "border-purple"],
          };
          initOptions.events.push(newEvent);

          addMarker(tourSchedules[i].name, tourSchedules[i].la, tourSchedules[i].lo);
        }
        calendar(initOptions);
        var moveLocation = new kakao.maps.LatLng(tourSchedules[tourSchedules.length - 1].la, tourSchedules[tourSchedules.length - 1].lo);
        map.panTo(moveLocation);
      });
      
      function deleteTour(tno) {
    		var url = '/tour/delete?tno=' + tno;
      		if (confirm ('정말 삭제하시겠습니까?')) {
      			window.location.href = url;
      		}
      }
    </script>
  </body>
</html>
