<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Vendor styles-->
<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="screen" href="assets/vendor/aos/dist/aos.css" />
<link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
<head th:fragment="head" th:replace="~{common/layout :: head}"></head>

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>

      <!-- Page content-->
      <!-- Hero-->
      <section>
        <div class="jarallax bg-dark min-vh-100 py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-40"></div>
          <div class="jarallax-img" style="background-image: url(http://t1.daumcdn.net/brunch/service/user/7YAa/image/NPsPJXoCTkYydCMCoeWf0O6v_Tw.jpg)"></div>
          <div class="container position-relative zindex-5 py-sm-4 py-lg-5 mt-4">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5">
                <h1 class="display-2 text-light pb-sm-2 pb-md-3">오늘의 추천</h1>
                <h5 class="display-4 text-light pb-sm-2 pb-md-3">경복궁</h5>
                <p class="text-light opacity-70 pb-3 pb-md-4 mb-3" style="max-width: 520px">
                  달 밝은 밤 도심 속 궁궐 야경 이색체험을 통해
                  <br />
                  우리 궁궐의 역사 문화적 가치와 아름다움을 감상하며 널리 알리기 위한
                  <br />
                  2023년 봄 경복궁 야간 관람에 여러분을 초대합니다.
                </p>
                <a class="btn btn-outline-primary px-3 py-2 fs-5" href="shop-catalog.html">더보기</a>
              </div>
            </div>
            <form class="row g-3 bg-white rounded-pill align-items-center">
              <div class="col-2 my-1">
                <select class="form-select" style="border: none">
                  <option selected>문화재</option>
                  <option>박물관</option>
                </select>
              </div>
              <div class="col-9 my-1">
                <input type="text" class="form-control" style="border: none" placeholder="키워드로 검색" />
              </div>
              <div class="col-1 my-1">
                <button type="submit" class="btn py-2 ms-3"><i class="ai-search" style="font-size: 26px; color: #202020"></i></button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Trending products (carousel)-->
      <section class="container mb-5 mt-5 pb-5">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2 mb-md-3">
          <a href="#" style="text-decoration: none">
            <h2 class="h1 pt-1 mb-0 text-primary">인기 문화재</h2>
          </a>
          <!-- Slider prev/next buttons-->
          <div class="d-flex">
            <button class="btn btn-prev btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-prev"><i class="ai-arrow-left"></i></button>
            <button class="btn btn-next btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-next"><i class="ai-arrow-right"></i></button>
          </div>
        </div>
        <!-- Slider (popular items)-->
        <div
          class="swiper"
          data-swiper-options='{
      "slidesPerView": 1,
      "spaceBetween": 24,
      "loop": true,
      "navigation": {
        "prevEl": "#trending-prev",
        "nextEl": "#trending-next"
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 2
        },
        "768": {
          "slidesPerView": 3
        },
        "1000": {
          "slidesPerView": 4
        }
      }
    }'>
          <div class="swiper-wrapper" id="resize">
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="http://www.cha.go.kr/unisearch/images/national_treasure/2685609.jpg" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a href="shop-single.html">숭례문</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted text-truncate">
                <span class="me-2">서울 중구 세종대로 40 (남대문로4가)</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="http://www.cha.go.kr/unisearch/images/national_treasure/1611449.jpg" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a href="shop-single.html">원각사지 십층석탑</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted text-truncate">
                <span class="me-2">서울 종로구 종로 99 (종로2가)</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="http://www.cha.go.kr/unisearch/images/national_treasure/1611458.jpg" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a href="shop-single.html">신라 진흥왕 순수비</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted text-truncate">
                <span class="me-2">서울 용산구 서빙고로 137, 국립중앙박물관 (용산동6가)</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="http://www.cha.go.kr/unisearch/images/national_treasure/1612029.jpg" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a href="shop-single.html">고달사지 승탑</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted text-truncate">
                <span class="me-2">경기도 여주시 북내면 상교리 411-1</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="http://www.cha.go.kr/unisearch/images/national_treasure/1612140.jpg" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a href="shop-single.html">법주사 쌍사자 석등</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted text-truncate">
                <span class="me-2">충북 보은군 속리산면 법주사로 379, 법주사 (사내리)</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Categories-->
      <div class="container mb-5">
        <div class="row">
          <div class="col-7">
            <div class="row align-items-center container pe-5">
              <a href="#" style="text-decoration: none">
                <div class="h1 pb-3 mb-4 text-primary">오늘의 박물관</div>
              </a>
              <article class="zoom-effect position-relative border-bottom pb-3 mb-4">
                <div class="zoom-effect-wrapper">
                  <div class="zoom-effect-img">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipO2KheCFYzkAoJSWpOGQdEyxNhfcI5jP2ty9YMa=s680-w680-h510" alt="Image" />
                  </div>
                </div>
                <div class="pt-4 mt-lg-2">
                  <h2 class="h4 mb-2">
                    <a href="#" class="stretched-link">국립중앙박물관</a>
                  </h2>
                  <div class="d-flex justify-content-between fs-lg text-muted row">
                    <div class="col-6">서울 용산구 서빙고로 139</div>
                    <div class="col-6 text-end">
                      <i class="ai-star-filled text-warning"></i>
                      <i class="ai-star-filled text-warning"></i>
                      <i class="ai-star-filled text-warning"></i>
                      <i class="ai-star-half text-warning"></i>
                      <i class="ai-star text-warning"></i>
                      <span class="text-warning fw-bold ms-2">3.5</span>
                      <span class="text-muted ms-2">(1,234)</span>
                    </div>
                  </div>
                </div>
              </article>
              <a href="#" style="text-decoration: none">
                <div class="h1 pb-3 mb-lg-4 text-primary">이달의 행사</div>
              </a>
              <article class="row">
                <div class="col-6">
                  <div class="px-2">
                    <a href="#" class="card-hover d-block">
                      <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-1 overflow-hidden zindex-2 opacity-0">
                        <div class="position-relative zindex-2 text-center">
                          <div class="fs-sm text-white">
                            <div class="fw-semibold fs-xl">서대문 문화재 야행</div>
                            <div>독립공원 및 서대문구</div>
                          </div>
                        </div>
                        <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-30"></div>
                      </div>
                      <img src="http://sdmnightroad.com/data/editor/2208/13f88301bcc31fdb9d19ffccb382254a_1660631008_7608.jpg" class="d-block rounded-1" alt="Instagram image" />
                    </a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="px-2">
                    <a href="#" class="card-hover d-block">
                      <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-1 overflow-hidden zindex-2 opacity-0">
                        <div class="position-relative zindex-2 text-center">
                          <div class="fs-sm text-white">
                            <div class="fw-semibold fs-xl">부여 문화재 야행</div>
                            <div>정림사지/석탑로/의열로/이색창조거리 일대</div>
                          </div>
                        </div>
                        <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-30"></div>
                      </div>
                      <img src="https://www.buyeo.go.kr/Upl/_board/yahaeng_0105/middle_yahaeng_0105_0_1661300651.jpg" class="d-block rounded-1" alt="Instagram image" />
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-5">
            <a href="#" style="text-decoration: none">
              <div class="h1 pb-3 mb-4 text-primary">투어</div>
            </a>
            <!-- 투어플랜 만들기 -->
            <a href="#" class="card card-hover-primary bg-secondary border-0 text-decoration-none mb-5">
              <div class="card-body pb-0">
                <h3 class="h4 card-title mt-0">나의 투어플랜 만들기</h3>
                <p class="card-text" style="word-break: keep-all">나만의 투어플랜을 만들고 투어플랜을 함께 할 친구를 모집해보세요.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <span class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none"><i class="ai-arrow-right"></i></span>
              </div>
            </a>
            <!-- 투어플랜 모집 -->
            <div class="card text-center mb-5">
              <div class="card-header">
                <span class="badge bg-secondary fs-sm">문화재</span>
                <span class="h4 card-title">같이 경주 둘러보실 분</span>
              </div>
              <div class="card-body">
                <div class="card-text text-start">
                  <span class="fw-bold pe-3">지역</span>
                  경상북도
                  <br />
                  <span class="fw-bold pe-3">기간</span>
                  07-01 ~ 07-02 | 1박 2일
                  <br />
                  <span class="fw-bold pe-3">인원</span>
                  2명
                  <br />
                  <div class="text-truncate">
                    <span class="fw-bold pe-3">내용</span>
                    경주에 관심 있는 분들과 함께 둘러보고 싶어요!
                  </div>
                </div>
                <a href="#" class="btn btn-primary">자세히 보기</a>
              </div>
            </div>
            <!-- 투어플랜 모집 -->
            <div class="card text-center mb-5">
              <div class="card-header">
                <span class="badge bg-info fs-sm">박물관</span>
                <span class="h4 card-title">한글박물관 같이 가요</span>
              </div>
              <div class="card-body">
                <div class="card-text text-start">
                  <span class="fw-bold pe-3">지역</span>
                  서울
                  <br />
                  <span class="fw-bold pe-3">기간</span>
                  07-01 ~ 07-01 | 당일
                  <br />
                  <span class="fw-bold pe-3">인원</span>
                  2명
                  <br />
                  <div class="text-truncate">
                    <span class="fw-bold pe-3">내용</span>
                    한글박물관에서 함께 즐거운 시간을 보낼 분을 찾습니다. 한글의 아름다움과 역사를 함께 알아보고 싶어요.
                  </div>
                </div>
                <a href="#" class="btn btn-primary">자세히 보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Collections (Binded slider)-->
      <section class="position-relative py-5">
        <div class="binded-content position-absolute top-0 start-0 w-100">
          <div
            class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center active"
            id="bg-1"
            style="background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/backgrounds/digital.png)"></div>
          <div
            class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center"
            id="bg-2"
            style="background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) -0.47%, rgba(0, 0, 0, 0) 100%), url(assets/img/backgrounds/world_ceramics.jpg)"></div>
        </div>
        <div class="container py-2 py-sm-4 py-lg-5 my-md-3 my-lg-0 my-xl-3 my-xxl-4">
          <div class="row align-items-center my-xxl-2 py-5">
            <div class="col-8 position-relative zindex-2 mb-5 mb-md-0">
              <div style="max-width: 800px">
                <!-- Swiper controls (Prev/next buttons)-->
                <div class="d-flex pb-2 mb-3 mb-md-4 mb-xl-5">
                  <button class="btn btn-icon btn-sm btn-outline-light rounded-circle me-3" type="button" id="prev-collection"><i class="ai-arrow-left"></i></button>
                  <button class="btn btn-icon btn-sm btn-outline-light rounded-circle" type="button" id="next-collection"><i class="ai-arrow-right"></i></button>
                </div>
                <!-- Swiper slider-->
                <div
                  class="swiper"
                  data-swiper-options='{
                  "spaceBetween": 40,
                  "loop": true,
                  "bindedContent": true,
                  "controlledSlider": "#cards",
                  "navigation": {
                    "prevEl": "#prev-collection",
                    "nextEl": "#next-collection"
                  }
                }'>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" data-swiper-binded="#bg-1">
                      <h2 class="display-5 text-white pb-2 mb-md-4 mb-xl-5">
                        국립중앙박물관
                        <br />
                        ⌜금강산에 오르다⌟
                      </h2>
                      <a class="btn btn-outline-light" href="shop-catalog.html">전시 둘러보기</a>
                    </div>
                    <div class="swiper-slide" data-swiper-binded="#bg-2">
                      <h2 class="display-5 text-white pb-2 mb-md-4 mb-xl-5">
                        국립중앙박물관
                        <br />
                        ⌜도자기에 담긴 동서교류 600년⌟
                      </h2>
                      <a class="btn btn-outline-light" href="shop-catalog.html">전시 둘러보기</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="ps-md-4 ps-lg-0">
                <div class="card border-0 rounded-1" style="max-width: 450px; background-color: rgba(255, 255, 255, 0.8)">
                  <div class="card-body">
                    <!-- Controlled swiper slider-->
                    <div
                      class="swiper"
                      id="cards"
                      data-swiper-options='{
                      "allowTouchMove": false,
                      "spaceBetween": 40,
                      "loop": true
                    }'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <!-- Video gallery -->
                          <div class="gallery" data-video="true">
                            <a href="https://youtu.be/b8TsnrZZeAs" class="gallery-item d-block card-hover">
                              <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3">
                                <i class="ai-play-filled"></i>
                              </div>
                              <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">VR 영상 보기</div>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                              </div>
                              <img
                                src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb8TsnrZZeAs%2Fhqdefault.jpg&type=f612_342"
                                class="d-block rounded-4"
                                alt="Video caption"
                                id="tempId" />
                            </a>
                          </div>
                          <div class="fs-5 mt-4 text-center fw-semibold" style="color: #121519">디지털실감영상관</div>
                        </div>
                        <div class="swiper-slide">
                          <!-- Iframe -->
                          <div class="gallery">
                            <a href="https://www.museum.go.kr/museum/2022/worldCeramics_virtualtour/" class="gallery-item d-block card-hover" data-iframe="true">
                              <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3">
                                <i class="ai-play-filled"></i>
                              </div>
                              <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">3D 공간 탐색하기</div>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                              </div>
                              <img src="https://img.seoul.co.kr/img/upload/2021/02/09/SSI_20210209231543_O2.jpg" class="d-block rounded-4" style="height: 190px !important; width: 100% !important" />
                            </a>
                          </div>
                          <div class="fs-5 mt-4 text-center fw-semibold" style="color: #121519">세계문화관 (세계도자실)</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 쇼핑몰 -->
      <!-- Trending products (carousel)-->
      <section class="container mb-5 mt-5">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2 mb-md-3">
          <a href="#" style="text-decoration: none">
            <h2 class="h1 pt-1 mb-0 text-primary">쇼핑몰</h2>
          </a>
          <!-- Slider prev/next buttons-->
          <div class="d-flex">
            <button class="btn btn-prev btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-prev"><i class="ai-arrow-left"></i></button>
            <button class="btn btn-next btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-next"><i class="ai-arrow-right"></i></button>
          </div>
        </div>
        <!-- Slider (popular items)-->
        <div
          class="swiper"
          data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "loop": true,
          "navigation": {
            "prevEl": "#trending-prev",
            "nextEl": "#trending-next"
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "1000": {
              "slidesPerView": 4
            }
          }
        }'>
          <div class="swiper-wrapper" id="resize">
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-cart fs-xl d-dark-mode-none"></i>
                  <i class="ai-cart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="https://shop-phinf.pstatic.net/20200209_69/1581258162764RUzMx_JPEG/18619705371612978_1835379085.jpg?type=m510" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-0"><a href="shop-single.html">복주머니 (네츄럴) / 한국기념품, 외국인선물, 한국전통선물</a></h3>
              </div>
              <div class="d-flex align-items-center text-warning text-truncate">
                <span class="me-2 fs-4 fw-bold">₩ 18,000</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-cart fs-xl d-dark-mode-none"></i>
                  <i class="ai-cart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="https://shop-phinf.pstatic.net/20230131_119/1675135682554z1gad_JPEG/76271466219827036_1339220938.JPG?type=m510" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-0"><a href="shop-single.html">나전칠기-외국인선물 전통 한국 자개볼펜 기념품</a></h3>
              </div>
              <div class="d-flex align-items-center text-warning text-truncate">
                <span class="me-2 fs-4 fw-bold">₩ 14,800</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-cart fs-xl d-dark-mode-none"></i>
                  <i class="ai-cart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="https://shop-phinf.pstatic.net/20220510_209/1652170142852cDjYL_JPEG/53305925510207687_1132332146.jpg?type=m510" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-0"><a href="shop-single.html">청사초롱 전통등만들기 한국전통선물 초롱불 소품만들기</a></h3>
              </div>
              <div class="d-flex align-items-center text-warning text-truncate">
                <span class="me-2 fs-4 fw-bold">₩ 1,700</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-cart fs-xl d-dark-mode-none"></i>
                  <i class="ai-cart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" href="shop-single.html">
                  <img class="d-block mx-auto" src="https://shopping-phinf.pstatic.net/main_2868743/28687437561.20230312102144.jpg?type=f640" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-0"><a href="shop-single.html">전통 목각 원앙 세트 大 혼례 폐백용품 신혼부부 선물</a></h3>
              </div>
              <div class="d-flex align-items-center text-warning text-truncate">
                <span class="me-2 fs-4 fw-bold">₩ 9,000</span>
              </div>
              <div class="d-flex mt-1">
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-filled text-warning"></i>
                <i class="ai-star-half text-warning"></i>
                <i class="ai-star text-warning"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">3.5</span>
                <span class="text-muted mt-n1 ms-2">(1,234)</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <!-- Footer-->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/timezz/dist/timezz.js"></script>
    <script src="assets/vendor/@lottiefiles/lottie-player/dist/lottie-player.js"></script>
    <script src="assets/vendor/aos/dist/aos.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.js"></script>
    <script>
      $(document).ready(function () {
        console.log("jQuery is ready");
        $("#resize a img").each(function () {
          var img = $(this);
          var frame = $(this).parent().parent();
          var width = parseInt(img.css("width"));
          var ratio = parseInt(frame.css("height")) / parseInt(img.css("height"));

          if (ratio > 1) {
            img.css("max-width", "none");
            img.css("width", width * ratio);
            var translate = (parseInt(img.css("width")) - parseInt(frame.css("width"))) / 2;
            img.css("position", "relative");
            img.css("left", -translate + "px");
          } else {
            img.css("max-width", "100%");
          }
        });
      });
    </script>
  </body>
</html>
