<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Vendor styles-->
<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="screen" href="assets/vendor/aos/dist/aos.css" />
<link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
<head th:fragment="head" th:replace="~{common/layout :: head}"></head>

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>

      <!-- Page content-->
      <!-- Hero-->
      <section>
        <div class="jarallax bg-dark min-vh-100 py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-40"></div>
          <div class="jarallax-img" style="background-image: url(http://t1.daumcdn.net/brunch/service/user/7YAa/image/NPsPJXoCTkYydCMCoeWf0O6v_Tw.jpg)"></div>
          <div class="container position-relative zindex-5 py-sm-4 py-lg-5 mt-4">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5">
                <h1 class="display-2 text-light pb-sm-2 pb-md-3">오늘의 추천</h1>
                <h5 class="display-4 text-light pb-sm-2 pb-md-3">수원 화성</h5>
                <p class="text-light opacity-70 pb-3 pb-md-4 mb-3" style="max-width: 520px">
                  달 밝은 밤 도심 속 성 야경 이색체험을 통해
                  <br />
                  우리 성의 역사 문화적 가치와 아름다움을 감상하며 널리 알리기 위한
                  <br />
                  2023년 여름 수원화성 야간 관람에 여러분을 초대합니다.
                </p>
                <a class="btn btn-outline-primary px-3 py-2 fs-5" th:href="@{/event/eventDetail?no=8}">더보기</a>
              </div>
            </div>
            <form class="row g-3 bg-white rounded-pill align-items-center" method="get" th:action="@{/search}">
              <div class="col-2 my-1">
                <select class="form-select" style="border: none" name="searchType">
                  <option value="heritage" selected>문화재</option>
                  <option value="museum">박물관</option>
                </select>
              </div>
              <div class="col-9 my-1">
                <input type="text" class="form-control" style="border: none" placeholder="키워드로 검색" name="keyword" />
              </div>
              <div class="col-1 my-1">
                <button type="submit" class="btn py-2 ms-3"><i class="ai-search" style="font-size: 26px; color: #202020"></i></button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Trending products (carousel)-->
      <section class="container mb-5 mt-5 pb-5">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2 mb-md-3">
          <a th:href="@{/heritage/list}" style="text-decoration: none">
            <h2 class="h1 pt-1 mb-0 text-primary">인기 문화재</h2>
          </a>
          <!-- Slider prev/next buttons-->
          <div class="d-flex">
            <button class="btn btn-prev btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-prev"><i class="ai-arrow-left"></i></button>
            <button class="btn btn-next btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-next"><i class="ai-arrow-right"></i></button>
          </div>
        </div>
        <!-- Slider (popular items)-->
        <div
          class="swiper"
          data-swiper-options='{
      "slidesPerView": 1,
      "spaceBetween": 24,
      "loop": true,
      "navigation": {
        "prevEl": "#trending-prev",
        "nextEl": "#trending-next"
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 2
        },
        "768": {
          "slidesPerView": 3
        },
        "1000": {
          "slidesPerView": 4
        }
      }
    }'>
          <div class="swiper-wrapper" id="resize">
            <!-- Item-->
            <div class="swiper-slide" th:each="item: ${heritages}">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-bookmark fs-xl d-dark-mode-none"></i>
                  <i class="ai-bookmark text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" th:href="@{/heritage/detail(no=${item.hNo})}">
                  <img class="d-block mx-auto" th:src="${item.img}" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h4 mb-0"><a th:href="@{/heritage/detail(no=${item.hNo})}">[[${item.name}]]</a></h3>
              </div>
              <div class="d-flex align-items-center text-muted">
                <span class="me-2">[[${item.location}]]</span>
              </div>
              <div class="d-flex mt-1" name="stars" th:data-productId="${item.hNo}" th:data-average="${item.average}">
                <i class="ai-star text-warning" th:id="'star-1-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-2-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-3-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-4-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-5-' + ${item.hNo}"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">[[${#numbers.formatDecimal(item.average, 1, 1)}]]</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Categories-->
      <div class="container mb-5">
        <div class="row">
          <div class="col-7">
            <div class="row align-items-center container pe-5">
              <a th:href="@{/museum}" style="text-decoration: none">
                <div class="h1 pb-3 mb-4 text-primary">오늘의 박물관</div>
              </a>
              <article class="zoom-effect position-relative border-bottom pb-3 mb-4">
                <div class="zoom-effect-wrapper">
                  <div class="zoom-effect-img">
                    <img th:src="${museum.img}" alt="Image" />
                  </div>
                </div>
                <div class="pt-4 mt-lg-2">
                  <h2 class="h4 mb-2">
                    <a th:href="@{/museumDetail(no=${museum.musNo})}" class="stretched-link">[[${museum.name}]]</a>
                  </h2>
                  <div class="d-flex justify-content-between fs-lg text-muted row">
                    <div class="col-8">[[${museum.address}]]</div>
              		<div class="d-flex mt-1" name="stars" th:data-productId="${museum.musNo}" th:data-average="${museum.average}">
                      <i class="ai-star text-warning" th:id="'star-1-' + ${museum.musNo}"></i>
                      <i class="ai-star text-warning" th:id="'star-2-' + ${museum.musNo}"></i>
                      <i class="ai-star text-warning" th:id="'star-3-' + ${museum.musNo}"></i>
                      <i class="ai-star text-warning" th:id="'star-4-' + ${museum.musNo}"></i>
                      <i class="ai-star text-warning" th:id="'star-5-' + ${museum.musNo}"></i>
                      <span class="text-warning fw-bold ms-2">[[${#numbers.formatDecimal(museum.average, 1, 1)}]]</span>
                    </div>
                  </div>
                </div>
              </article>
              <a th:href="@{/event}" style="text-decoration: none">
                <div class="h1 pb-3 mb-lg-4 text-primary">이달의 행사</div>
              </a>
              <article class="row">
                <div class="col-6" th:each="event: ${events}">
                  <div class="px-2">
                    <a th:href="@{/event/eventDetail(no=${event.evntNo})}" class="card-hover d-block">
                      <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-1 overflow-hidden zindex-2 opacity-0">
                        <div class="position-relative zindex-2 text-center">
                          <div class="fs-sm text-white">
                            <div class="fw-semibold fs-xl px-3">[[${event.name}]]</div>
                            <div>[[${event.location}]]</div>
                          </div>
                        </div>
                        <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50"></div>
                      </div>
                      <img th:src="${event.poster}" class="d-block rounded-1" alt="Instagram image" />
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-5">
            <a th:href="@{/tour}" style="text-decoration: none">
              <div class="h1 pb-3 mb-4 text-primary">투어</div>
            </a>
            <!-- 투어플랜 만들기 -->
            <a th:href="@{/tour/post}" class="card card-hover-primary bg-secondary border-0 text-decoration-none mb-5">
              <div class="card-body pb-0">
                <h3 class="h4 card-title mt-0">나의 투어플랜 만들기</h3>
                <p class="card-text" style="word-break: keep-all">나만의 투어플랜을 만들고 투어플랜을 함께 할 친구를 모집해보세요.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <span class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none"><i class="ai-arrow-right"></i></span>
              </div>
            </a>
            <!-- 투어플랜 모집 -->
            <div class="card text-center mb-5" th:each="tour: ${tours}">
              <div class="card-header">
                <span class="badge bg-secondary fs-sm" th:if="${tour.category == 'heritage'}">문화재</span>
                <span class="badge bg-primary fs-sm" th:if="${tour.category == 'museum'}">문화재</span>
                <span class="h4 card-title">[[${tour.title}]]</span>
              </div>
              <div class="card-body">
                <div class="card-text text-start">
                  <span class="fw-bold pe-3">지역</span>
                  [[${tour.region}]]
                  <br />
                  <span class="fw-bold pe-3">기간</span>
                  [[${tour.startDate}]] ~ [[${tour.endDate}]] | [[${tour.duration}]]박 [[${tour.duration + 1}]]일
                  <br />
                  <span class="fw-bold pe-3">인원</span>
                  [[${tour.numOfPeople}]]명
                  <br />
                  <div class="text-truncate">
                    <span class="fw-bold pe-3">내용</span>
                    [[${tour.content}]]
                  </div>
                </div>
                <a th:href="@{/tour/detail(tno=${tour.tno})}" class="btn btn-primary">자세히 보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Collections (Binded slider)-->
      <section class="position-relative py-5">
        <div class="binded-content position-absolute top-0 start-0 w-100">
          <div
            class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center active"
            id="bg-1"
            style="background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(assets/img/backgrounds/digital.png)"></div>
          <div
            class="binded-item position-absolute top-0 start-0 w-100 h-100 bg-size-cover bg-position-center"
            id="bg-2"
            style="background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) -0.47%, rgba(0, 0, 0, 0) 100%), url(assets/img/backgrounds/world_ceramics.jpg)"></div>
        </div>
        <div class="container py-2 py-sm-4 py-lg-5 my-md-3 my-lg-0 my-xl-3 my-xxl-4">
          <div class="row align-items-center my-xxl-2 py-5">
            <div class="col-8 position-relative zindex-2 mb-5 mb-md-0">
              <div style="max-width: 800px">
                <!-- Swiper controls (Prev/next buttons)-->
                <div class="d-flex pb-2 mb-3 mb-md-4 mb-xl-5">
                  <button class="btn btn-icon btn-sm btn-outline-light rounded-circle me-3" type="button" id="prev-collection"><i class="ai-arrow-left"></i></button>
                  <button class="btn btn-icon btn-sm btn-outline-light rounded-circle" type="button" id="next-collection"><i class="ai-arrow-right"></i></button>
                </div>
                <!-- Swiper slider-->
                <div
                  class="swiper"
                  data-swiper-options='{
                  "spaceBetween": 40,
                  "loop": true,
                  "bindedContent": true,
                  "controlledSlider": "#cards",
                  "navigation": {
                    "prevEl": "#prev-collection",
                    "nextEl": "#next-collection"
                  }
                }'>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" data-swiper-binded="#bg-1">
                      <h2 class="display-5 text-white pb-2 mb-md-4 mb-xl-5">
                        국립중앙박물관
                        <br />
                        ⌜금강산에 오르다⌟
                      </h2>
                      <a class="btn btn-outline-light" href="shop-catalog.html">전시 둘러보기</a>
                    </div>
                    <div class="swiper-slide" data-swiper-binded="#bg-2">
                      <h2 class="display-5 text-white pb-2 mb-md-4 mb-xl-5">
                        국립중앙박물관
                        <br />
                        ⌜도자기에 담긴 동서교류 600년⌟
                      </h2>
                      <a class="btn btn-outline-light" href="shop-catalog.html">전시 둘러보기</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="ps-md-4 ps-lg-0">
                <div class="card border-0 rounded-1" style="max-width: 450px; background-color: rgba(255, 255, 255, 0.8)">
                  <div class="card-body">
                    <!-- Controlled swiper slider-->
                    <div
                      class="swiper"
                      id="cards"
                      data-swiper-options='{
                      "allowTouchMove": false,
                      "spaceBetween": 40,
                      "loop": true
                    }'>
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <!-- Video gallery -->
                          <div class="gallery" data-video="true">
                            <a href="https://youtu.be/b8TsnrZZeAs" class="gallery-item d-block card-hover">
                              <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3">
                                <i class="ai-play-filled"></i>
                              </div>
                              <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">VR 영상 보기</div>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                              </div>
                              <img
                                src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fb8TsnrZZeAs%2Fhqdefault.jpg&type=f612_342"
                                class="d-block rounded-4"
                                alt="Video caption"
                                id="tempId" />
                            </a>
                          </div>
                          <div class="fs-5 mt-4 text-center fw-semibold" style="color: #121519">디지털실감영상관</div>
                        </div>
                        <div class="swiper-slide">
                          <!-- Iframe -->
                          <div class="gallery">
                            <a href="https://www.museum.go.kr/museum/2022/worldCeramics_virtualtour/" class="gallery-item d-block card-hover" data-iframe="true">
                              <div class="btn btn-icon btn-lg btn-primary rounded-circle pe-none position-absolute top-50 start-50 translate-middle zindex-3">
                                <i class="ai-play-filled"></i>
                              </div>
                              <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-4 overflow-hidden zindex-2 opacity-0">
                                <div class="position-absolute bottom-0 start-0 w-100 text-center text-white fs-sm fw-medium zindex-2 pb-3">3D 공간 탐색하기</div>
                                <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                              </div>
                              <img src="https://img.seoul.co.kr/img/upload/2021/02/09/SSI_20210209231543_O2.jpg" class="d-block rounded-4" style="height: 190px !important; width: 100% !important" />
                            </a>
                          </div>
                          <div class="fs-5 mt-4 text-center fw-semibold" style="color: #121519">세계문화관 (세계도자실)</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 쇼핑몰 -->
      <!-- Trending products (carousel)-->
      <section class="container mb-5 mt-5">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2 mb-md-3">
          <a th:href="@{/shop}" style="text-decoration: none">
            <h2 class="h1 pt-1 mb-0 text-primary">쇼핑몰</h2>
          </a>
          <!-- Slider prev/next buttons-->
          <div class="d-flex">
            <button class="btn btn-prev btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-prev"><i class="ai-arrow-left"></i></button>
            <button class="btn btn-next btn-icon btn-sm btn-outline-primary rounded-circle ms-3" type="button" id="trending-next"><i class="ai-arrow-right"></i></button>
          </div>
        </div>
        <!-- Slider (popular items)-->
        <div
          class="swiper"
          data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "loop": true,
          "navigation": {
            "prevEl": "#trending-prev",
            "nextEl": "#trending-next"
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "1000": {
              "slidesPerView": 4
            }
          }
        }'>
          <div class="swiper-wrapper" id="resize">
            <!-- Item-->
            <div class="swiper-slide" th:each="item: ${products}">
              <div class="card-hover position-relative bg-secondary rounded-1 mb-4 overflow-hidden" style="height: 20rem">
                <!-- 뱃지 -->
                <!-- <span class="badge bg-faded-danger text-danger position-absolute top-0 start-0 mt-3 ms-3">Sale</span> -->
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button" th:onclick="addCart([[${item}]]); return false;">
                  <i class="ai-cart fs-xl d-dark-mode-none"></i>
                  <i class="ai-cart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block" th:href="@{/shop/detail(productId=${item.productId})}">
                  <img class="d-block mx-auto" th:src="${item.image}" />
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-0"><a th:href="@{/shop/detail(productId=${item.productId})}">[[${item.title}]]</a></h3>
              </div>
              <div class="d-flex align-items-center text-warning text-truncate">
                <span class="me-2 fs-4 fw-bold">₩ [[${#numbers.formatInteger(item.lprice, 1, 'COMMA')}]]</span>
              </div>
              <div class="d-flex mt-1" name="stars" th:data-productId="${item.productId}" th:data-average="${item.average}">
                <i class="ai-star text-warning" th:id="'star-1-' + ${item.productId}"></i>
                <i class="ai-star text-warning" th:id="'star-2-' + ${item.productId}"></i>
                <i class="ai-star text-warning" th:id="'star-3-' + ${item.productId}"></i>
                <i class="ai-star text-warning" th:id="'star-4-' + ${item.productId}"></i>
                <i class="ai-star text-warning" th:id="'star-5-' + ${item.productId}"></i>
                <span class="text-warning fw-bold mt-n1 ms-2">[[${#numbers.formatDecimal(item.average, 1, 1)}]]</span>
                <span class="text-muted mt-n1 ms-2">([[${#numbers.formatInteger(item.quantity, 1, 'COMMA')}]])</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <!-- Footer-->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/timezz/dist/timezz.js"></script>
    <script src="assets/vendor/@lottiefiles/lottie-player/dist/lottie-player.js"></script>
    <script src="assets/vendor/aos/dist/aos.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.js"></script>
    <script>
	    function addCart(product) {
	        $.ajax({
	          url: "/shop/addCart",
	          type: "POST",
	          dataType: "text",
	      	  contentType : "application/json;charset=UTF-8",
	          data: JSON.stringify({
	            lprice: product.lprice,
	            productId: product.productId,
	            quantity: 1,
	            image: product.image,
	            title: product.title
	          }),
	          success: function (resp) {
	            alert(resp);
	          },
	          error: function (xhr, status, error) {
	            console.error(xhr, status, error);
	          },
	        });
	      }
	    
      $(document).ready(function () {
        console.log("jQuery is ready");
        $("#resize a img").each(function () {
          var img = $(this);
          var frame = $(this).parent().parent();
          var width = parseInt(img.css("width"));
          var ratio = parseInt(frame.css("height")) / parseInt(img.css("height"));

          if (ratio > 1) {
            img.css("max-width", "none");
            img.css("width", width * ratio);
            var translate = (parseInt(img.css("width")) - parseInt(frame.css("width"))) / 2;
            img.css("position", "relative");
            img.css("left", -translate + "px");
          } else {
            img.css("max-width", "100%");
          }
        });
        
      	$('[name=stars]').each(function () {
      		var productId = $(this).attr('data-productId');
      		var average = $(this).attr('data-average');
      		for (var i = 1; i <= 5; i++) {
      			var id = '#star-' + i + '-' + productId;
      			var star = $(id);
      			if (average >= 1) {
      				star.removeClass('ai-star');
      				star.addClass('ai-star-filled');
      				average -= 1;
      			} else if (average >= 0.5) {
      				star.removeClass('ai-star');
      				star.addClass('ai-star-half');
      				average = 0;
      			}
      		}
      	});
      });
    </script>
  </body>
</html>
