<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
  <!-- Body-->
  <body class="bg-secondary">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header th:replace="~{common/layout :: #header}"></header>

      <!-- Page content-->
      <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
          <!-- Sidebar (offcanvas on sreens < 992px)-->
          <aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
            <div class="position-lg-sticky top-0">
              <div class="d-none d-lg-block" style="padding-top: 105px"></div>
              <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
                <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarAccount"></button>
                <div class="offcanvas-body">
                  <div class="pb-2 pb-lg-0 mb-4 mb-lg-5">
                    <img class="d-block rounded-circle mb-2" src="assets/img/avatar/02.jpg" width="80" alt="Isabella Bocouse" />
                    <h3 class="h5 mb-1">테스트 이름</h3>
                    <p class="fs-sm text-muted mb-0">text@email.com</p>
                  </div>
                  <nav class="nav flex-column pb-2 pb-lg-4 mb-3">
                    <div class="border-bottom border-1 mb-3"></div>
                    <h4 class="fs-xs fw-medium text-muted text-uppercase pb-1 mb-2">계정</h4>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-overview.html">
                      <i class="ai-user-check fs-5 opacity-60 me-2"></i>
                      내정보
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-favorites.html">
                      <i class="ai-bookmark fs-5 opacity-60 me-2"></i>
                      북마크
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-orders.html">
                      <i class="ai-dashboard fs-5 opacity-60 me-2"></i>
                      내 예약 정보
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-settings.html">
                      <i class="ai-settings fs-5 opacity-60 me-2"></i>
                      설정
                    </a>
                  </nav>
                  <nav class="nav flex-column pb-2 pb-lg-4 mb-3">
                    <div class="border-bottom border-1"></div>
                    <h4 class="fs-xs fw-medium text-muted text-uppercase pb-1 mb-2 pt-3">쇼핑몰</h4>
                    <a class="nav-link fw-semibold py-2 px-0 active" href="account-overview.html">
                      <i class="ai-file-text fs-5 opacity-60 me-2"></i>
                      주문내역
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-favorites.html">
                      <i class="ai-cart fs-5 opacity-60 me-2"></i>
                      장바구니
                    </a>
                  </nav>
                  <nav class="nav flex-column">
                    <div class="border-bottom border-1"></div>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-signin.html">
                      <i class="ai-logout fs-5 opacity-60 me-2" style="color: rgb(222, 58, 58)"></i>
                      <span style="color: rgb(238, 109, 109)">로그아웃</span>
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </aside>
          <!-- Page content-->
          <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="d-flex align-items-center mb-4">
              <h1 class="h2 mb-0">주문내역</h1>
            </div>
            <div class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
              <div class="card-body pb-4">
                <!-- Orders accordion-->
                <div class="accordion accordion-alt accordion-orders" id="orders">
                  <div class="text-center h2 text-muted">주문내역이 없습니다.</div>
                  <!-- Order-->
                  <div class="accordion-item border-top mb-0" th:each="item: ${items}">
                    <div class="accordion-header">
                      <a class="accordion-button d-flex fs-4 fw-normal text-decoration-none py-3 collapsed" th:href="@{'#order' + ${item.productId}}" data-bs-toggle="collapse" aria-expanded="false" th:aria-controls="@{'order' + ${item.productId}}">
                        <div class="d-flex justify-content-between w-100" style="max-width: 440px">
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted">상태</div>
                            <span class="badge bg-faded-info text-info fs-xs">주문 접수</span>
                          </div>
                          <div class="me-3 me-sm-4">
                            <div class="d-none d-sm-block fs-sm text-muted mb-2">주문 일자</div>
                            <div class="d-sm-none fs-sm text-muted mb-2">Date</div>
                            <div class="fs-sm fw-medium text-dark">[[${item.orderDate}]]</div>
                          </div>
                          <div class="me-3 me-sm-4">
                            <div class="fs-sm text-muted mb-2">총가격</div>
                            <div class="fs-sm fw-medium text-dark">[[${#numbers.formatInteger(item.price * item.quantity, 1, 'COMMA')}]]원</div>
                          </div>
                        </div>
                        <div class="accordion-button-img d-none d-sm-flex ms-auto">
                          <div class="mx-1"><img th:src="${item.image}" width="70" alt="Product" style="border-radius: 5%" /></div>
                        </div>
                      </a>
                    </div>
                    <div class="accordion-collapse collapse" th:id="@{'order' + ${item.productId}}" data-bs-parent="#orders">
                      <div class="accordion-body">
                        <div class="table-responsive pt-1">
                          <table class="table align-middle w-100" style="min-width: 450px">
                            <tr>
                              <td class="border-0 py-1 px-0" style="width: 60%;">
                                <div class="d-flex align-items-center">
                                  <a class="d-inline-block flex-shrink-0 rounded-1 p-md-2 p-lg-3" href="shop-single.html">
                                    <img th:src="${item.image}" width="110" alt="Product" style="border-radius: 5%" />
                                  </a>
                                  <div class="ps-3 ps-sm-4">
                                    <h4 class="h6 mb-2"><a th:href="@{/shop/detail(productId=${item.productId})}">[[${item.title}]]</a></h4>
                                  </div>
                                </div>
                              </td>
                              <td class="border-0 py-1 pe-0 ps-3 ps-sm-4">
                                <div class="fs-sm text-muted mb-2">수량</div>
                                <div class="fs-sm fw-medium text-dark">[[${item.quantity}]]</div>
                              </td>
                              <td class="border-0 py-1 pe-0 ps-3 ps-sm-4">
                                <div class="fs-sm text-muted mb-2">가격</div>
                                <div class="fs-sm fw-medium text-dark">[[${#numbers.formatInteger(item.price, 1, 'COMMA')}]]원</div>
                              </td>
                              <td class="border-0 py-1 pe-0 ps-3 ps-sm-4">
                                <div class="fs-sm text-muted mb-2">총가격</div>
                                <div class="fs-sm fw-medium text-dark">[[${#numbers.formatInteger(item.price * item.quantity, 1, 'COMMA')}]]원</div>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="bg-secondary rounded-1 p-4 my-2">
                          <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-4 mb-3 mb-md-0">
                              <a class="btn btn-link py-1 px-0 mt-2" href="#">
                                <i class="ai-time me-2 ms-n1"></i>
                                주문 내역
                              </a>
                            </div>
                            <div class="col-sm-9 col-md-5 mb-4 mb-md-0">
                              <div class="fs-sm fw-medium text-dark mb-1">배달 주소</div>
                              <div class="fs-sm">[[${item.address}]]</div>
                            </div>
                            <div class="col-md-4 col-lg-3 text-md-end">
                              <a class="btn btn-sm btn-outline-primary w-100 w-md-auto" th:href="@{/shop/detail(productId=${item.productId})}">
                                <i class="ai-star me-2 ms-n1"></i>
                                후기 남기기
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Divider for dark mode only-->
      <hr class="d-none d-dark-mode-block" />
      <!-- Sidebar toggle button-->
      <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount">
        <i class="ai-menu me-2"></i>
        Account menu
      </button>
    </main>
    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/assets/js/theme.min.js}"></script>
  </body>
</html>
