<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 	<!-- Vendor styles-->
    <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css"/>
 	<head th:fragment="head" th:replace="~{common/layout :: head}"></head>
 	
  <!-- Body-->
  <body class="bg-secondary">
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
 		<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      	<header th:replace="~{common/layout :: #header}"></header>
      	
      <!-- Page content-->
      <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
          <!-- Sidebar (offcanvas on sreens < 992px)-->
          <aside th:replace="~{common/layout :: #mypageSidebar}"></aside>
          <!-- Page content-->
          <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="d-flex align-items-center mb-4">
              <h1 class="h2 mb-0">북마크</span></h1>
            </div>
            <div class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item">
                    <a href="#" class="nav-link active" data-bs-toggle="tab" role="tab">문화재</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="tab" role="tab">박물관</a>
                  </li>
                </ul>
              </div>
						  <div class="row align-items-center gy-2 mb-4 pb-1 pb-sm-2 pb-lg-3">
          <div class="col-lg-5"></div>
          <div class="col-xl-2 offset-xl-1 col-lg-3 col-sm-5"></div>
          <div class="col-lg-4 col-sm-7">
            <div class="position-relative"></div>
          </div>
        </div>
        <!-- 검색 결과-->
        <style>
          .my-card-title {
            color: #121519 !important;
            transition: 0.4s;
          }
          .my-card-title:hover {
            color: #e8ae50 !important;
            transition: 0.4s;
          }
        </style>
        <!-- ITEM -->
        <th:block th:each="item : ${list}">
        <div class="row g-0 border-0 mb-4 align-items-center">
          <div class="card-hover position-relative bg-secondary rounded-1 mb-4 col-4">
            <!-- 북마크 -->
            <th:block th:if="${loginMember != null}">
	            <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3" type="button">
	            <th:block th:if="${item.bookmark} == 'Y'">
	               <i th:value="${item.bookmark}" class="ai-heart-filled fs-xl"  th:onclick="addFavor(this, [[${item.hNo}]], [[${loginMember.mno}]])"></i>
				</th:block>
	            <th:block th:if="${item.bookmark} != 'Y'">
	               <i th:value="${item.bookmark}" class="ai-heart fs-xl"  th:onclick="addFavor(this, [[${item.hNo}]], [[${loginMember.mno}]])"></i>
				</th:block>

	            </button>
            </th:block>
            <a class="d-block" th:href="|/heritage/detail?no=${item.hNo}|">
              <img th:src="${item.img}" class="rounded-4">
            </a>
          </div>
          <div class="col-8">
            <div class="pb-sm-4 ps-sm-4 pe-lg-4" style="margin-left: 10%">
              <a th:href="|/heritage/detail?no=${item.hNo}|" style="text-decoration: none">
                <div class="h3 my-card-title"> 
                	[[${item.name}]]([[${item.name2}]])
                </div>
              </a>
              <table class="table">
                <tr>
                  <td class="fw-bold text-black" style="white-space: nowrap"><i class="far fa-address-book text-primary"></i>분류</td>
                  <td> [[${item.gcodeName}]]   / [[${item.bcodeName}]]   / [[${item.mcodeName}]]   / [[${item.scodeName}]]  </td>
                </tr>
                <tr>
                  <td class="fw-bold text-black" style="white-space: nowrap"><i class="fas fa-phone text-primary"></i>시대</td>
                  <td> [[${item.era}]] </td>
                </tr>
                <tr>
                  <td class="fw-bold text-black" style="white-space: nowrap"><i class="far fa-calendar text-primary"></i>지정일</td>
                  <td>[[${#dates.format(item.asDate, 'yyyy-MM-dd')}]]</td>
                </tr>
                <tr>
                  <td class="fw-bold text-black" style="white-space: nowrap; border-bottom: none"><i class="fas fa-calendar-day text-primary"></i>소재지</td>
                  <td style="border-bottom: none"> [[${item.location}]] </td>
                </tr>
              </table>
              <div class="d-flex mt-1 ps-2" name="stars" th:data-hno="${item.hNo}" th:data-average="${item.average}">
                <i class="ai-star text-warning" th:id="'star-1-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-2-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-3-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-4-' + ${item.hNo}"></i>
                <i class="ai-star text-warning" th:id="'star-5-' + ${item.hNo}"></i>
                <span class="list-inline-item me-1 h6 mb-0 px-1" th:text="${#numbers.formatDecimal(item.average, 1, 1)}"></span>
              </div>
            </div>
          </div>
        </div>
        </th:block>

		</div>
      </div>
      <!-- Divider for dark mode only-->
      <hr class="d-none d-dark-mode-block">
      <!-- Sidebar toggle button-->
      <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount"><i class="ai-menu me-2"></i>Account menu</button>
    </main>
    
      	<!-- Footer-->
    	<footer th:replace="~{common/layout :: #footer}"></footer>
    	
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg><i class="ai-arrow-up"></i></a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.min.js"></script>
     <script type="text/javascript">
		function orderBy(param) {
			searchForm.order.value = param;
			searchForm.submit();
		}
	</script>
	<!-- 북마크  -->
	<script>
		function addFavor(heriBookmark, hNo, mno) {
			var heriBookmark = $(heriBookmark);
			console.log(heriBookmark);
			$.ajax({
				type : "POST",
				url : "/heritage/addHeriBookmark",
				data : JSON.stringify({
					hNo : hNo,
					mno : mno
				}),
				dataType : "json",
				contentType : "application/json;charset=UTF-8",
				success : function(response) {
					alert(response.message);

					if (heriBookmark.hasClass('ai-heart')) {
						heriBookmark.removeClass("ai-heart");
						heriBookmark.addClass("ai-heart-filled");
					} else {
						heriBookmark.removeClass("ai-heart-filled");
						heriBookmark.addClass("ai-heart");
					}
				},
				error : function(xhr, status, error) {
					console.log("에러 발생:", error);
				}
			});
		}
		
		$(document).ready(function () {
			$('[name=stars]').each(function () {
				var hno = $(this).data('hno');
				var stars = $(this).data('average');
				for (var i = 1; i <= 5; i++) {
					var id = '#star-' + i + '-' + hno;
					var icon = $(id);
		    		if (stars >= 1) {
		    			icon.removeClass('ai-star');
		    			icon.addClass('ai-star-filled');
		    			stars -= 1;
		    		} else if (stars >= 0.5) {
		    			icon.removeClass('ai-star');
		    			icon.addClass('ai-star-half');
		    			stars = 0;
		    		}
				}
			});
		});
	</script>
  </body>
</html>