<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.bbs.heritage.model.mapper.HeritageMapper">
	
	<resultMap type="Heritage" id="heritageresultMap">
		<result property="hNo"  	  column="hNo" />
		<result property="kind"  	  column="KIND" />
		<result property="name"  	  column="NAME" />
		<result property="name2" 	  column="NAME2" />
		<result property="kindCode"   column="KINDCODE" />
		<result property="cityCode"   column="CITYCODE" />
		<result property="ccbaAsno"   column="CCBAASNO" />
		<result property="lo"  		  column="LO" />
		<result property="la"  		  column="LA" />
		<result property="gcodeName"  column="GCODENAME" />
		<result property="bcodeName"  column="BCODENAME" />
		<result property="mcodeName"  column="MCODENAME" />
		<result property="scodeName"  column="SCODENAME" />
		<result property="asDate"     column="ASDATE" />
		<result property="location"   column="LOCATION" />
		<result property="era"  	  column="ERA" />
		<result property="img"  	  column="IMG" />
		<result property="content"    column="CONTENT" />
		<result property="bookmark"    column="BOOKMARK" />
		<result property="average"    column="average" />
	</resultMap> 
	
	<resultMap type="Reply" id="heritageReplyResultMap">
		<id 	property="rNo"			column="rNo"/>
		<result property="hNo" 			column="hNo"/>
		<result property="mNo" 			column="mNo"/>
		<result property="name" 		column="NAME"/>
		<result property="content" 		column="CONTENT"/>
		<result property="enrollDate" 	column="enrollDate"/>
	</resultMap>

	<select id="selectHeritageList" parameterType="map" resultMap="heritageresultMap">
		SELECT H.*, HS.average
		<if test="mno != null">
			, IF(B.MNO = #{mno},'Y','N') AS BOOKMARK
		</if>
		FROM HERITAGE H 
		LEFT JOIN HERIBOOKMARK B ON(H.HNO = B.HNO)
		LEFT JOIN (
			SELECT hNo, AVG(rating) AS average
			FROM HeritageStars
			GROUP BY hNo
	    ) HS ON (H.hNo = HS.hNo)
		WHERE 
			(B.MNO IS NULL 
 			<if test="mno != null">
				OR B.MNO = #{mno}
			</if>
			)
 			<if test="name != null">
				AND H.NAME LIKE '%${name}%' 
			</if>
 			<if test="address != null">
				AND H.LOCATION LIKE '%${address}%' 
			</if>
			<if test="era != null">
				AND H.ERA LIKE '%${era}%' 
			</if>
			<if test="type != null">
				AND H.GCODENAME LIKE '%${type}%' 
			</if>
			<if test="order == 'hNo'">
				ORDER BY H.HNO ASC	
			</if>
			<if test="order == 'name'">
				ORDER BY H.name ASC
			</if>
			<if test="order == 'average'">
				ORDER BY average DESC	
			</if>
			LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectHeritageCount" resultType="int" parameterType="map">
		SELECT  
			COUNT(*)
		FROM HERITAGE
		WHERE 1 = 1
		<if test="name != null">
			AND NAME LIKE '%${name}%' 
		</if>
			<if test="address != null">
			AND LOCATION LIKE '%${address}%' 
		</if>
		<if test="era != null">
			AND ERA LIKE '%${era}%' 
		</if>
		<if test="type != null">
			AND GCODENAME LIKE '%${type}%' 
		</if> 
	</select>
	
	<select id="selectHeritageByNo" parameterType="Map" resultMap="heritageresultMap">
		SELECT H.*, HS.average
		<if test="mno != null">
			, IF(B.MNO = #{mno},'Y','N') AS BOOKMARK
		</if>
			FROM HERITAGE H
			LEFT JOIN HERIBOOKMARK B ON(H.HNO = B.HNO)
			LEFT JOIN (
				SELECT hno, AVG(rating) AS average
					FROM HeritageStars
					GROUP BY hno
			) HS ON (H.hNo = HS.hno)
			WHERE 1=1
			AND H.hNo = #{no};
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY(
			RNO, HNO, MNO,
			NAME, CONTENT, ENROLLDATE)
			VALUES(
				0, #{hNo}, #{mNo}, 
				#{name}, #{content}, DEFAULT
			)
	</insert>
	
	<delete id="deleteReply" parameterType="int">
    DELETE FROM REPLY WHERE rNo = #{rNo}
	</delete>
	
	<select id="getRepliesList" parameterType="int" resultType="com.multi.bbs.heritage.model.vo.Reply">
		SELECT * FROM REPLY 
		WHERE hNo = #{hNo}
	</select>

	<select id="selectHeriBookmarkCount" resultType="int" parameterType="map">
		SELECT
			COUNT(*) FROM HERIBOOKMARK
		WHERE 1 = 1
		AND mno = #{mno}
		AND hNo = #{hNo}		
	</select>

	<insert id="insertHeriBookmark" parameterType="map">
		INSERT INTO HERIBOOKMARK(mno, hNo) values(#{mno}, #{hNo})
	</insert>

	<delete id="deleteHeriBookmark" parameterType="map">
		DELETE FROM HERIBOOKMARK
		WHERE 1 = 1
		AND mno = #{mno}
		AND hNo = #{hNo}
	</delete>

	<select id="selectBookmarkHeritage" parameterType="int" resultType="com.multi.bbs.heritage.model.vo.Heritage">
		SELECT H.*, HS.average FROM HERITAGE H
			INNER JOIN heribookmark HB ON (H.hno = HB.hno)
			LEFT JOIN (
				SELECT hno, AVG(rating) AS average
					FROM HeritageStars
					GROUP BY hno
			) HS ON (H.hNo = HS.hno)
			WHERE HB.mno = #{mno};
	</select>

	<insert id="submitHeriStar" parameterType="Map">
		INSERT INTO HERITAGESTARS (hno, mno, rating) VALUES (#{no}, #{mno}, #{score})
	</insert>
	
	<select id="getHeriStar" parameterType="Map" resultType="Map">
		SELECT * FROM HERITAGESTARS WHERE hno = #{no} AND mno = #{mno}
	</select>
	
	<update id="updateHeriStar" parameterType="Map">
		UPDATE HERITAGESTARS SET rating = #{score} WHERE hno = #{no} AND mno = #{mno}
	</update>
	
	<select id="selectReplyCountByHNo" resultType="int" parameterType="int">
	    SELECT COUNT(*) as replyCount
	    FROM REPLY
	    WHERE hNo = #{hNo}
	</select>

</mapper>