<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.bbs.tour.TourMapper">
	<select id="getMuseumList" parameterType="String" resultType="com.multi.bbs.tour.TourList">
		SELECT name AS title, address, la, lo FROM Museum
	</select>
	
	<select id="getHeritageList" parameterType="String" resultType="com.multi.bbs.tour.TourList">
		SELECT name AS title, location AS address, la, lo FROM Heritage
	</select>
	
	<insert id="insertTour" parameterType="com.multi.bbs.tour.Tour">
		<selectKey keyProperty="tno" resultType="int" order="AFTER">
			SELECT @@IDENTITY AS tno
		</selectKey>
		INSERT INTO Tour (tno, mno, name, state, title, region, numOfPeople, startDate, endDate, duration, category, content, fileName, reFileName, writeTime)
			VALUES (DEFAULT, #{mno}, #{name}, DEFAULT, #{title}, #{region}, #{numOfPeople}, #{startDate}, #{endDate}, DEFAULT, #{category}, #{content}, #{fileName}, #{reFileName}, DEFAULT)
	</insert>
	
	<insert id="insertTourSchedule" parameterType="com.multi.bbs.tour.TourSchedule">
		INSERT INTO TourSchedule (tsno, tno, mno, name, la, lo, startTime, endTime, type)
			VALUES (DEFAULT, #{tno}, #{mno}, #{name}, #{la}, #{lo}, #{startTime}, #{endTime}, #{type})
	</insert>
	
	<select id="searchTourList" parameterType="Map" resultType="com.multi.bbs.tour.Tour">
		SELECT tno, title, region, startDate, endDate, duration, numOfPeople, writeTime, reFileName, category, state
			FROM Tour
			WHERE (state = 'Y' OR state = 'C')
			<if test="keyword != ''">
				AND title LIKE '%${keyword}%'
			</if>
			<if test="startDate != ''">
				AND startDate >= #{startDate}
				AND endDate &lt;= #{endDate}
			</if>
			<if test="region != ''">
				AND region = #{region}
			</if>
			<if test="category != null">
				AND category = #{category}
			</if>
			ORDER BY writeTime DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="tourList" resultType="com.multi.bbs.tour.Tour">
		SELECT tno, title, region, startDate, endDate, duration, numOfPeople, writeTime, reFileName, category, state FROM Tour
			WHERE (state = 'Y' OR state = 'C')
			ORDER BY writeTime DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="getBoardCount" parameterType="Map" resultType="int">
		SELECT COUNT(tno)
			FROM Tour
			WHERE (state = 'Y' OR state = 'C')
			<if test="keyword != ''">
				AND title LIKE '%${keyword}%'
			</if>
			<if test="startDate != ''">
				AND startDate >= #{startDate}
				AND endDate &lt;= #{endDate}
			</if>
			<if test="region != ''">
				AND region = #{region}
			</if>
			<if test="category != null">
				AND category = #{category}
			</if>
	</select>
	
	<select id="allBoardCount" parameterType="Map" resultType="int">
		SELECT COUNT(tno) FROM Tour
	</select>
	
	<select id="getTourByTno" parameterType="int" resultType="com.multi.bbs.tour.Tour">
		SELECT T.*, M.reFileName AS profilePic FROM Tour T
			LEFT JOIN Member M ON (T.mno = M.mno)
			WHERE T.tno = #{tno}
	</select>
	
	<select id="getSchedulsByTno" parameterType="int" resultType="com.multi.bbs.tour.TourSchedule">
		SELECT * FROM TourSchedule WHERE tno = #{tno}
	</select>
	
	<insert id="insertComment" parameterType="com.multi.bbs.tour.TourComment">
		INSERT INTO TourComment(cno, tno, mno, name, state, content, writeTime, isModified)
			VALUES (DEFAULT, #{tno}, #{mno}, #{name}, DEFAULT, #{content}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="getComments" parameterType="int" resultType="com.multi.bbs.tour.TourComment">
		SELECT TC.*, M.reFileName FROM TourComment TC
			LEFT JOIN Member M ON (TC.mno = M.mno)
			WHERE TC.state = 'Y' AND TC.tno = #{tno}
	</select>
	
	<update id="deleteComment" parameterType="int">
		UPDATE TourComment SET state = 'N' WHERE cno = #{cno}
	</update>
	
	<insert id="insertReplyComment" parameterType="com.multi.bbs.tour.TourComment">
		INSERT INTO TourReplyComment(rcno, cno, tno, mno, name, state, content, writeTime, isModified, isReply)
			VALUES (DEFAULT, #{cno}, #{tno}, #{mno}, #{name}, DEFAULT, #{content}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="getReply" parameterType="int" resultType="com.multi.bbs.tour.TourReplyComment">
		SELECT TRC.*, M.reFileName FROM TourReplyComment TRC
			LEFT JOIN Member M ON (TRC.mno = M.mno)
			WHERE TRC.state = 'Y' AND TRC.tno = #{tno}
	</select>
	
	<update id="deleteReply" parameterType="int">
		UPDATE TourReplyComment SET state = 'N' WHERE rcno = #{rcno}
	</update>
	
	<update id="completeTour" parameterType="int">
		UPDATE Tour SET state = 'C' WHERE tno = #{tno}
	</update>
	
	<update id="recruitTour" parameterType="int">
		UPDATE Tour SET state = 'Y' WHERE tno = #{tno}
	</update>
	
	<update id="deleteTour" parameterType="int">
		UPDATE Tour SET state = 'N' WHERE tno = #{tno}
	</update>
</mapper>