<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<!-- Vendor styles-->
	<link rel="stylesheet" media="screen" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}" />
    <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
    
<!-- Body-->
<body>
  <!-- Page loading spinner-->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span>Loading...</span>
    </div>
  </div>
  <!-- Page wrapper-->
  <main class="page-wrapper">
    <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
    <header th:replace="~{common/layout :: #header}"></header>

    <section>
      <div class="jarallax bg-dark py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7"
        style="height: 50vh !important;">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
        <div class="jarallax-img"
          style="background-image: url(https://plus.unsplash.com/premium_photo-1661948404806-391a240d6d40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fCVFQSVCMiVCRCVFQiVCMyVCNSVFQSVCNiU4MXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);">
        </div>
        <div class="container position-relative zindex-5">
          <!-- Text + button-->
          <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
            <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5 mb-lg-5">
              <h4 class="display-5 text-light pb-sm-2 pb-md-3 mb-lg-5">커뮤니티</h4>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container py-3 mt-3 mb-lg-4 mb-xl-5">
      <!-- Breadcrumb-->
      <nav aria-label="breadcrumb">
        <ol class="pb-md-1 pb-lg-3 breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
          <li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
        </ol>
      </nav>
    </div>
    
    <!--자유게시판 카드-->
    <div class="container mb-lg-5 mb-5">
      <p class="h3 mt-5 mb-4">자유게시판</p>
      <div class="mt-n5 mb-3" style="text-align: right;">
        <a th:href="@{/board/free}">
          <button type="button" class="btn text-white" style="background-color: #E8AE50;">더보기</button>
        </a>
      </div>
      <table class="table">
        <tbody>
          <div th:if="${#lists.isEmpty(freeList)}" class="text-center h4 text-muted">
            게시글이 없습니다.
          </div>
          <tr th:if="${!#lists.isEmpty(freeList)}" th:each="item: ${freeList}" class="row">
            <td class="col-8"><a class="nav-link fw-normal" th:href="@{/board/detail(bno=${item.bno})}">[[${item.title}]]</a></td>
            <td class="col-2">[[${item.name}]]</td>
            <td class="col-1">[[${item.timeDiff}]]</td>
            <td class="col-1 text-center">[[${item.views}]]</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--문화소식 카드-->
    <div class="container mb-lg-5 mb-5">
      <p class="h3 mt-5 mb-4">문화소식</p>
      <div class="mt-n5 mb-3" style="text-align: right;">
        <a th:href="@{/board/noti}">
          <button type="button" class="btn text-white" style="background-color: #E8AE50;">더보기</button>
        </a>
      </div>
      <div th:if="${#lists.isEmpty(notiList)}" class="text-center h3 text-muted">게시글이 없습니다.</div>
      <div class="row g-4" th:if="${!#lists.isEmpty(notiList)}">
        <div class="card col mx-2 p-0" th:each="item: ${notiList}">
          <div class="card-body">
            <a class="nav-link fw-normal pb-3 fw-bold" th:href="@{/board/detail(bno=${item.bno})}">[[${item.title}]]</a>
            <p class="card-text text-muted">[[${item.timeDiff}]] | 조회수 [[${item.views}]]</p>
          </div>
        </div>
      </div>

    </div>

    <!--포토게시판 카드-->
    <div class="container mb-lg-5 mb-5">
      <div class="row g-4">
        <p class="h3 mt-5 mb-4">포토게시판</p>
	    <div class="mt-n5 mb-3" style="text-align: right;">
	      <a th:href="@{/board/photo}">
	        <button type="button" class="btn text-white" style="background-color: #E8AE50;">더보기</button>
	      </a>
	    </div>
		<div th:if="${#lists.isEmpty(photoList)}" class="text-center h3 text-muted">게시글이 없습니다.</div>
	    <div class="col card" th:if="${!#lists.isEmpty(photoList)}" th:each="item: ${photoList}" style="border: none !important;">
	      <div class="card-body overflow-hidden rounded p-0" style="height: 234px;">
		    <a th:href="@{/board/detail(bno=${item.bno})}">
			  <img th:src="@{'/board/file/' + ${item.reFileName}}" name="thumbnail" />
		    </a>
	      </div>
	    </div>
      </div>
    </div>

    <!-- Sidebar toggle button-->
    <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas"
      data-bs-target="#sidebarBlog"><i class="ai-layout-column me-2"></i>Sidebar</button>
  </main>

  <!-- Footer-->
  <footer th:replace="~{common/layout :: #footer}"></footer>
	
  <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
    <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10">
      </circle>
    </svg><i class="ai-arrow-up"></i></a>
  <!-- Vendor scripts: js libraries and plugins-->
  <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js}"></script>
  <script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
  <script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
  <script th:src="@{/assets/vendor/flatpickr/dist/plugins/rangePlugin.js}"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- Main theme script-->
  <script th:src="@{/assets/js/theme.js}"></script>
  <script>
	$(document).ready(function () {
        $("[name=thumbnail]").each(function () {
            var img = $(this);
            var frame = $(this).parent().parent();
            var width = parseInt(img.css("width"));
            var ratio = parseInt(frame.css("height")) / parseInt(img.css("height"));

            if (ratio > 1) {
              img.css("max-width", "none");
              img.css("width", width * ratio);
              var translate = (parseInt(img.css("width")) - parseInt(frame.css("width"))) / 2;
              img.css("position", "relative");
              img.css("left", -translate + "px");
            } else {
              img.css("width", "100%");
            }
      	});
	});
  </script>
</body>

</html>