<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<!-- Vendor styles-->
    <link rel="stylesheet" media="screen" th:href="@{/assets/vendor/flatpickr/dist/flatpickr.min.css}"/>
    <head th:fragment="head" th:replace="~{common/layout :: head}"></head>
    
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
    <!-- 헤더 시작 -->
    <header th:replace="~{common/layout :: #header}"></header>

      <section>
        <div class="jarallax bg-dark py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7"
          style="height: 70vh !important;">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
          <div class="jarallax-img"
            style="background-image: url(https://plus.unsplash.com/premium_photo-1661948404806-391a240d6d40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fCVFQSVCMiVCRCVFQiVCMyVCNSVFQSVCNiU4MXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);">
          </div>
          <div class="container position-relative zindex-5">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5 mb-lg-5">
                <h4 class="display-4 text-light pb-sm-2 pb-md-3 mb-lg-5">커뮤니티</h4>
                <br><br><br><br><br>
              </div>
              <form class="row g-3 bg-white rounded-pill align-items-center">
                <div class="col-2 my-1">
                  <select class="form-select" style="border: none;">
                    <option selected>자유게시판</option>
                    <option>문화소식</option>
                    <option>포토게시판</option>
                  </select>
                </div>
                <div class="col-9 my-1">
                  <input type="text" class="form-control" style="border: none;" placeholder="키워드로 검색">
                </div>
                <div class="col-1 my-1">
                  <button type="submit" class="btn py-2 ms-3"><i class='ai-search'
                      style="font-size: 26px; color: #202020;"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Page content-->
      <div class="container py-3 mt-3 mb-lg-4 mb-xl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pb-md-1 pb-lg-3 breadcrumb">
            <li class="breadcrumb-item"><a href="#">커뮤니티</a></li>
            <li class="breadcrumb-item active" aria-current="page">게시판 글쓰기</li>
          </ol>
        </nav>
        <!-- Page title-->
        <div class="row mt-n1">
          <div class="col-lg-9 offset-lg-3">
            <h2 style="color: #E8AE50;">게시판 글쓰기</h2>
          </div>
        </div>

        <div class="row pb-2 pb-sm-4">
          <aside class="col-lg-3">
            <div class="offcanvas-lg offcanvas-start" id="shopSidebar">
              <form>
                <div class="offcanvas-body pt-2 pt-lg-0 pe-lg-4">
                  <ul class="nav flex-column">
                    <li class="h4 nav-item px-0 pb-3">카테고리</li>
                    <li class="nav-item"><a class="nav-link fw-normal px-0 py-1" href="community_freeboard_list.html">자유게시판</a></li>
                    <li class="nav-item"><a class="nav-link fw-normal px-0 py-1" href="culture-list.html">문화소식</a></li>
                    <li class="nav-item"><a class="nav-link fw-normal px-0 py-1" href="photoboard_list.html">포토게시판</a></li>
                  </ul>
                </div>
              </form>
            </div>
          </aside>

          <div class="col-lg-9">
            <div class="row mt-5">
              <div class="mb-3">
                <label for="titileinput" class="form-label">
                  <select class="form-select">
                    <option selected>자유게시판</option>
                    <option>문화소식</option>
                    <option>포토게시판</option>
                  </select>
                </label>
              </div>
              <div class="mb-3">
                <label for="titileinput" class="form-label">제목</label>
                <input type="text" class="form-control" id="titileinput">
              </div>
              <div class="mb-3">
                <label for="contentsinput" class="form-label">내용</label>
                <textarea class="form-control" id="contentsinput" rows="15"></textarea>
              </div>
              <div class="mb-3">
                <label for="file-input" class="form-label">File</label>
                <input class="form-control" type="file" id="file-input">
              </div>
              <div class="mt-5" style="text-align: center;">
                <a href="#">
                  <button type="button" class="btn text-white" style="background-color: #E8AE50;">글 작성하기</button>
                </a>
              </div>
              <!-- Sidebar toggle button-->
              <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog"><i class="ai-layout-column me-2"></i>Sidebar</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>
	
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg><i class="ai-arrow-up"></i></a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.js}"></script>
    <script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
    <script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/assets/vendor/flatpickr/dist/plugins/rangePlugin.js}"></script>
    <!-- Main theme script-->
    <script th:src="@{/assets/js/theme.js}"></script>  
</body>
</html>