<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <!-- Vendor styles-->
  <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
  <head th:fragment="head" th:replace="~{common/layout :: head}"></head>

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header class="navbar navbar-expand-lg fixed-top bg-light py-0 fs-5">
        <div class="container">
          <a class="navbar-brand p-2 swap-image" href="index.html">
            <img src="assets/img/logo_crimson.png" class="swap-to" width="50" />
            <div class="swap-from">
              <img src="assets/img/logo_black.png" class="d-dark-mode-none" width="50" />
              <img src="assets/img/logo_dark_gray.png" class="d-none d-dark-mode-block" width="50" />
            </div>
          </a>
          <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode" />
            <label class="form-check-label" for="theme-mode">
              <i class="ai-sun fs-lg"></i>
            </label>
            <label class="form-check-label" for="theme-mode">
              <i class="ai-moon fs-lg"></i>
            </label>
          </div>
          <div class="nav align-items-center order-lg-3 ms-n1 me-3 me-sm-0">
            <a class="nav-link position-relative fs-4 p-2" href="#cartOffcanvas" data-bs-toggle="offcanvas">
              <i class="ai-cart"></i>
            </a>
            <a class="nav-link fs-4 p-2 mx-sm-1 d-none d-sm-flex" href="account-signin.html">
              <i class="ai-user"></i>
            </a>
          </div>
          <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px">
              <li class="nav-item active">
                <a class="nav-link fw-bold" href="#">문화재</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">박물관</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">행사일정</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">전시</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">박물관 전시</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">문화재 전시</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">투어</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">나의 투어플랜 만들기</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">투어 인원 모집</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">커뮤니티</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">문화 소식</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">자유게시판</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item" href="#">포토게시판</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item border-top mt-2 py-2 d-sm-none">
                <a class="nav-link" href="account-signin.html">
                  <i class="ai-user fs-lg me-2"></i>
                  Sign In
                </a>
              </li>
            </ul>
            <div class="d-sm-none p-3 mt-n3">
              <a class="btn btn-primary w-100 mb-1" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank" rel="noopener">
                <i class="ai-cart fs-xl me-2 ms-n1"></i>
                Buy now
              </a>
            </div>
          </nav>
        </div>
      </header>

      <!-- Page content-->
      <section class="container py-5 mt-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-2 pb-md-4 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">홈</a></li>
            <li class="breadcrumb-item">
              <a href="shop-catalog.html">박물관 검색</a>
            </li>
            <li class="breadcrumb-item">
              <a href="shop-catalog.html" style="color: #e39d2c">박물관 상세</a>
            </li>
          </ol>
        </nav>
        <!-- Title + price shown on screens < 768px-->
        <div class="row pb-sm-1 pb-md-4">
          <!-- Gallery-->
          <div class="col-md-6 gallery mb-3 mb-md-0">
            <!-- Item-->
            <a class="d-block gallery-item card-hover zoom-effect mb-4" href="https://publicdesign.kr/festival/uploads/2022/09/1.png">
              <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-1 overflow-hidden zindex-2 opacity-0">
                <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-20"></div>
              </div>
              <div class="zoom-effect-wrapper rounded-1">
                <div class="zoom-effect-img">
                  <img class="d-block w-100" src="https://publicdesign.kr/festival/uploads/2022/09/1.png" />
                </div>
              </div>
            </a>
          </div>
          <!-- Product details-->
          <div class="col-md-6 col-xl-5 offset-xl-1">
            <div class="d-none d-md-block"></div>
            <div class="position-md-sticky top-0 ps-md-4 ps-lg-5 ps-xl-0">
              <div class="d-none d-md-block" style="padding-top: 90px"></div>
              <h1 class="d-none d-md-inline-block pb-1 mb-2">국립한글박물관</h1>
              <!-- Action buttons-->
              <div class="d-sm-flex d-md-block d-lg-flex py-4 py-md-5 my-3 my-md-0 mt-lg-0 mb-lg-1">
                <div class="align-items-center">
                  <button class="btn btn-lg btn-warning w-100 w-lg-auto me-2" type="button">예약하기</button>
                  <div class="d-flex align-items-center mt-3">
                    <div class="nav">
                      <a class="nav-link fs-3 px-3" href="#" data-bs-toggle="tooltip" title="북마크 추가">
                        <i class="ai-heart"></i>
                      </a>
                    </div>
                    <li class="list-inline-item me-1 h6 mb-0 px-1">4.5</li>
                    <li class="ai-star-filled text-warning"></li>
                    <li class="ai-star-filled text-warning"></li>
                    <li class="ai-star-filled text-warning"></li>
                    <li class="ai-star-filled text-warning"></li>
                    <li class="ai-star-half text-warning"></li>
                  </div>
                </div>
              </div>
              <!-- Sharing-->
              <div class="d-flex align-items-center">
                <h4 class="h6 me-4">공유하기 :</h4>
                <a class="btn btn-secondary btn-icon btn-sm btn-telegram rounded-circle me-3 mb-3" href="#">
                  <i class="ai-telegram"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm btn-instagram rounded-circle me-3 mb-3" href="#">
                  <i class="ai-instagram"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm btn-facebook rounded-circle mb-3" href="#">
                  <i class="ai-facebook"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 소개 시작 -->
      <section class="pt-0 pt-md-5">
        <div class="container">
          <div class="row g-4 g-md-5">
            <!-- Tabs Content START -->
            <div class="col-xl-8">
              <!-- Outer tabs contents START -->
              <div class="tab-content mb-0" id="tour-pills-tabContent">
                <!-- Content item START -->
                <div class="tab-pane fade show active" id="tour-pills-tab1" role="tabpanel" aria-labelledby="tour-pills-tab-1">
                  <!-- Card header -->
                  <div class="bg-transparent border-bottom p-0 pb-3 pt-4">
                    <h3 class="mb-0 title fs-2">소개</h3>
                  </div>
                  <div class="p-0 pt-3 text-black mb-5">
                    <p class="mb-1">국립한글박물관은 한글 및 한글문화 관련 유물과 자료의 수집·보존·조사·연구·전시·교육 및 교류 등</p>
                    <p class="mb-1">한글문화의 보존, 확산 및 진흥에 관한 사무를 관장하는 대한민국 문화체육관광부의 소속기관이다.</p>
                    <p class="mb-1r">2014년 2월 17일 발족하였으며, 같은 해 10월 9일 개관했다.</p>
                  </div>
                  <h2 class="h2 py-lg-1 py-xl-3 border-bottom">후기</h2>
                  <!-- Comment-->
                  <div class="border-bottom py-4 mt-2 mb-4">
                    <div class="d-flex align-items-center pb-1 mb-3">
                      <img class="rounded-circle" src="assets/img/avatar/08.jpg" width="48" alt="Comment author" />
                      <div class="ps-3">
                        <h6 class="mb-0">테스트계정</h6>
                        <span class="fs-sm text-muted">5시간 전</span>
                      </div>
                    </div>
                    <p class="pb-2 mb-0">후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트</p>
                    <button class="nav-link fs-sm fw-semibold px-0 py-2" type="button">
                      댓글
                      <i class="ai-redo fs-xl ms-2"></i>
                    </button>
                  </div>
                  <!-- Comment-->
                  <div class="border-bottom pt-2 pb-4">
                    <div class="d-flex align-items-center pb-1 mb-3">
                      <img class="rounded-circle" src="assets/img/avatar/11.jpg" width="48" alt="Comment author" />
                      <div class="ps-3">
                        <h6 class="mb-0">테스트계정</h6>
                        <span class="fs-sm text-muted">5시간 전</span>
                      </div>
                    </div>
                    <p class="pb-2 mb-0">후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트</p>
                    <button class="nav-link fs-sm fw-semibold px-0 py-2" type="button">
                      댓글
                      <i class="ai-redo fs-xl ms-2"></i>
                    </button>
                    <!-- 후기 댓글-->
                    <div class="card card-body border-0 bg-secondary mt-4">
                      <div class="d-flex align-items-center pb-1 mb-3">
                        <img class="rounded-circle" src="assets/img/avatar/10.jpg" width="48" alt="Comment author" />
                        <div class="ps-3">
                          <h6 class="mb-0">테스트계정</h6>
                          <span class="fs-sm text-muted">5시간 전</span>
                        </div>
                      </div>
                      <p class="mb-0">
                        <a class="fw-bold text-decoration-none text-warning" href="#">@테스트계정</a>
                        후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트 후기테스트
                      </p>
                    </div>
                  </div>
                  <!-- All comments button-->
                  <div class="text-end pb-5 mb-lg-1 mb-xl-3">
                    <a class="btn btn-link px-0 text-warning" href="#">
                      후기 모두 보기
                      <i class="ai-chevron-right fs-lg ms-1"></i>
                    </a>
                  </div>
                </div>
                <!-- Content item END -->
              </div>
            </div>
            <!-- Tabs Content END -->

            <!-- Right side content START -->
            <aside class="col-xl-4">
              <div class="row g-4">
                <!-- Help item START -->
                <div class="col-12">
                  <div class="card card-body bg-light">
                    <!-- List -->
                    <table class="table">
                      <tr>
                        <td class="fw-bold text-black" style="white-space: nowrap">
                          <i class="far fa-address-book text-primary"></i>
                          주소
                        </td>
                        <td>서울시 용산구 서빙고로 139 국립한글박물관(우편번호: 04383)</td>
                      </tr>
                      <tr>
                        <td class="fw-bold text-black" style="white-space: nowrap">
                          <i class="fas fa-phone text-primary"></i>
                          전화번호
                        </td>
                        <td>02-2124-6200</td>
                      </tr>
                      <tr>
                        <td class="fw-bold text-black" style="white-space: nowrap">
                          <i class="far fa-calendar text-primary"></i>
                          관람료
                        </td>
                        <td>무료</td>
                      </tr>
                      <tr>
                        <td class="fw-bold text-black" style="white-space: nowrap; border-bottom: none">
                          <i class="fas fa-calendar-day text-primary"></i>
                          운영일
                        </td>
                        <td style="border-bottom: none">월~금, 일요일 - 10:00~18:00 / 토요일 - 10:00~21:00</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- Help item END -->

                <!-- 지도 위젯 -->
                <div class="col-12">
                  <div class="card">
                    <div id="map" style="border-radius: 1rem; width: 100%; height: 300px"></div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b405a10ab3aef9b7d1801f29c81327a2"></script>
                    <script>
                      var container = document.getElementById("map"); // 지도를 표시할 div
                      var options = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3, // 지도의 확대 레벨
                      };

                      var map = new kakao.maps.Map(container, options); // 지도를 생성합니다

                      // 마커가 표시될 위치입니다
                      var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667);

                      // 마커를 생성합니다
                      var marker = new kakao.maps.Marker({
                        position: markerPosition,
                      });

                      // 마커가 지도 위에 표시되도록 설정합니다
                      marker.setMap(map);

                      // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
                      // marker.setMap(null);
                    </script>
                  </div>
                </div>
              </div>
            </aside>
            <!-- Right side content END -->
          </div>
        </div>
        <!-- Row END -->
      </section>

      <!-- Dscription section -->
      <section class="container pb-5 mb-sm-2 mb-lg-3 mb-xl-4 mb-xxl-5">
        <div class="row align-items-center pb-md-3">
          <!-- 후기-->
          <div class="pt-4 pt-xl-5 mt-4" id="comments">
            <!-- Comment form-->
            <div class="card border-0 bg-secondary pt-2 p-md-2 p-xl-3 p-xxl-4 mt-n3 mt-md-0">
              <div class="card-body">
                <h2 class="pb-2 pb-lg-3 pb-xl-4">후기 남기기</h2>
                <form class="row needs-validation g-4" novalidate>
                  <div class="col-12">
                    <textarea class="form-control" rows="4" placeholder="후기를 입력하세요." required id="c-comment"></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-warning" type="submit">등록하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Trending products (carousel)-->
      <section class="container pb-5 mb-lg-3 mb-xl-4 mb-xxl-5">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-2 mb-md-3">
          <h2 class="h2 pt-1 mb-0">주변 박물관</h2>
          <!-- Slider prev/next buttons-->
          <div class="d-flex">
            <button class="btn btn-prev btn-icon btn-sm btn-outline-warning rounded-circle ms-3" type="button" id="trending-prev">
              <i class="ai-arrow-left"></i>
            </button>
            <button class="btn btn-next btn-icon btn-sm btn-outline-warning rounded-circle ms-3" type="button" id="trending-next">
              <i class="ai-arrow-right"></i>
            </button>
          </div>
        </div>
        <!-- Slider (popular items)-->
        <div
          class="swiper"
          data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "loop": true,
          "navigation": {
            "prevEl": "#trending-prev",
            "nextEl": "#trending-next"
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "768": {
              "slidesPerView": 3
            },
            "1000": {
              "slidesPerView": 4
            }
          }
        }'>
          <div class="swiper-wrapper">
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative rounded-1 p-3 mb-0">
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-heart fs-xl d-dark-mode-none"></i>
                  <i class="ai-heart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block p-2 p-xl-4" href="shop-single.html">
                  <div class="ratio-container" style="padding-bottom: 100%">
                    <img
                      class="d-block position-absolute top-0 start-0 bottom-0 end-0 mx-auto"
                      src="https://publicdesign.kr/festival/uploads/2022/09/1.png"
                      alt="Product"
                      style="border-radius: 20px" />
                  </div>
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-1">
                  <a href="shop-single.html">국립중앙박물관</a>
                </h3>
              </div>
              <div class="d-flex align-items-center mb-3">
                <span class="me-2">04383 서울시 용산구 서빙고로 137(용산동6가 168-6)</span>
              </div>
              <li class="list-inline-item me-1 h6 mb-0 px-1">4.5</li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-half text-warning"></li>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative rounded-1 p-3 mb-0">
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-heart fs-xl d-dark-mode-none"></i>
                  <i class="ai-heart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block p-2 p-xl-4" href="shop-single.html">
                  <div class="ratio-container" style="padding-bottom: 100%">
                    <img
                      class="d-block position-absolute top-0 start-0 bottom-0 end-0 mx-auto"
                      src="https://publicdesign.kr/festival/uploads/2022/09/1.png"
                      alt="Product"
                      style="border-radius: 20px" />
                  </div>
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-1">
                  <a href="shop-single.html">국립중앙박물관</a>
                </h3>
              </div>
              <div class="d-flex align-items-center mb-3">
                <span class="me-2">04383 서울시 용산구 서빙고로 137(용산동6가 168-6)</span>
              </div>
              <li class="list-inline-item me-1 h6 mb-0 px-1">4.5</li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-half text-warning"></li>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative rounded-1 p-3 mb-0">
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-heart fs-xl d-dark-mode-none"></i>
                  <i class="ai-heart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block p-2 p-xl-4" href="shop-single.html">
                  <div class="ratio-container" style="padding-bottom: 100%">
                    <img
                      class="d-block position-absolute top-0 start-0 bottom-0 end-0 mx-auto"
                      src="https://publicdesign.kr/festival/uploads/2022/09/1.png"
                      alt="Product"
                      style="border-radius: 20px" />
                  </div>
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-1">
                  <a href="shop-single.html">국립중앙박물관</a>
                </h3>
              </div>
              <div class="d-flex align-items-center mb-3">
                <span class="me-2">04383 서울시 용산구 서빙고로 137(용산동6가 168-6)</span>
              </div>
              <li class="list-inline-item me-1 h6 mb-0 px-1">4.5</li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-half text-warning"></li>
            </div>
            <!-- Item-->
            <div class="swiper-slide">
              <div class="card-hover position-relative rounded-1 p-3 mb-0">
                <button class="btn btn-icon btn-sm btn-light bg-light border-0 rounded-circle position-absolute top-0 end-0 mt-3 me-3 zindex-5 opacity-0" type="button">
                  <i class="ai-heart fs-xl d-dark-mode-none"></i>
                  <i class="ai-heart text-nav fs-xl d-none d-dark-mode-block"></i>
                </button>
                <a class="d-block p-2 p-xl-4" href="shop-single.html">
                  <div class="ratio-container" style="padding-bottom: 100%">
                    <img
                      class="d-block position-absolute top-0 start-0 bottom-0 end-0 mx-auto"
                      src="https://publicdesign.kr/festival/uploads/2022/09/1.png"
                      alt="Product"
                      style="border-radius: 20px" />
                  </div>
                </a>
              </div>
              <div class="d-flex mb-1">
                <h3 class="h5 mb-1">
                  <a href="shop-single.html">국립중앙박물관</a>
                </h3>
              </div>
              <div class="d-flex align-items-center mb-3">
                <span class="me-2">04383 서울시 용산구 서빙고로 137(용산동6가 168-6)</span>
              </div>
              <li class="list-inline-item me-1 h6 mb-0 px-1">4.5</li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-filled text-warning"></li>
              <li class="ai-star-half text-warning"></li>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>
    
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.min.js"></script>
  </body>
</html>
