<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
  <!-- Vendor styles-->
  <head th:fragment="head" th:replace="~{common/layout :: head}"></head>

	
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
	  <form name="searchForm" action="/museum" method="get">
	  <input type="hidden" name="page" value="1">	
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
	  <header th:replace="~{common/layout :: #header}"></header>
	  
      <!-- Hero-->
      <section>
        <div class="jarallax bg-dark py-5" data-jarallax data-type="scroll-opacity" data-speed="0.7" style="height: 50vh !important">
          <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
          <div class="jarallax-img" style="background-image: url(https://api.cdn.visitjeju.net/photomng/imgpath/201806/28/a9a2562a-6f36-4223-b185-9d250af3306a.jpg)"></div>
          <div class="container position-relative zindex-5">
            <!-- Text + button-->
            <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
              <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5 mt-5">
                <div class="h1 text-white">박물관 검색</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page content-->
      <div class="container pt-1 pb-lg-5 pb-md-4 pb-2 my-5">
        <!-- 카테고리 -->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">홈</a></li>
            <li class="breadcrumb-item"><a th:href="@{museum}" style="color: #e39d2c">박물관 검색</a></li>
          </ol>
        </nav>
        <!-- 리스트 -->
        <div class="row align-items-center gy-2 mb-4 pb-1 pb-sm-2 pb-lg-3">
          <div class="col-lg-5">
            <h1 class="mb-lg-0">박물관 리스트</h1>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-3 col-sm-5">
          	<label for="address" class="form-label px-3">지역</label>
            <select id="address" name="address" class="form-select">
              <option value="">지역 선택</option>
              <option th:selected="${param.address == '서울특별시'} ? 'selected' : null ">서울특별시</option>
              <option th:selected="${param.address == '경기도'} ? 'selected' : null ">경기도</option>
              <option th:selected="${param.address == '대전광역시'} ? 'selected' : null ">대전광역시</option>
              <option th:selected="${param.address == '충청북도'} ? 'selected' : null ">충청북도</option>
              <option th:selected="${param.address == '충청남도'} ? 'selected' : null ">충청남도</option>
              <option th:selected="${param.address == '강원도'} ? 'selected' : null ">강원도</option>
              <option th:selected="${param.address == '전라북도'} ? 'selected' : null ">전라북도</option>
              <option th:selected="${param.address == '전라남도'} ? 'selected' : null ">전라남도</option>
              <option th:selected="${param.address == '광주광역시'} ? 'selected' : null ">광주광역시</option>
              <option th:selected="${param.address == '대구광역시'} ? 'selected' : null ">대구광역시</option>
              <option th:selected="${param.address == '경상북도'} ? 'selected' : null ">경상북도</option>
              <option th:selected="${param.address == '경상남도'} ? 'selected' : null ">경상남도</option>
              <option th:selected="${param.address == '부산광역시'} ? 'selected' : null ">부산광역시</option>
              <option th:selected="${param.address == '제주도'} ? 'selected' : null ">제주도</option>
            </select>
          </div>
          <div class="col-lg-4 col-sm-7 pt-4">
            <div class="position-relative">
              <div><i class="ai-search position-absolute top-50 start-0 translate-middle-y ms-3 text-dark"></i></div>
              <input name="name" class="form-control ps-5" type="search" placeholder="키워드 입력" th:value="${param.name}" />
            </div>
          </div>
        </div>
        <!-- 검색 결과-->
        <article class="row g-0 border-0 mb-4" th:each="museum : ${list}">
		  <a class="col-sm-5 col-lg-4 bg-repeat-0 bg-size-cover bg-position-center rounded-5"
		     th:href="|/museumDetail?no=${museum.musNo}|"
		     th:style="'background-image: url(' + ${museum.img} + '); min-height: 16rem'"></a>
		  <div class="col-sm-7 col-lg-8">
		    <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4">
		      <h3><a th:href="|/museumDetail?no=${museum.musNo}|" th:text="${museum.name}"></a></h3>
		      <p class="d-sm-none d-md-block" th:text="${museum.summary}"></p>
		    	12 <i class="ai-message fs-lg ms-1"></i>
           		<span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                <li class="ai-star-filled text-warning"></li>
                <li class="ai-star-filled text-warning"></li>
                <li class="ai-star-filled text-warning"></li>
                <li class="ai-star-filled text-warning"></li>
                <li class="ai-star-half text-warning"></li>
		    </div>
		  </div>
		</article>
        <!-- Pagination-->
        	
		<!-- page부 시작 -->
		<th:block th:if="${list != null && #lists.size(list) != 0}">
			<div class="pt-5" align="center" style="display: flex; align-items: center; justify-content: center;">
				<!--처음 페이지 -->
				<button class="page-link px-3" style="font-size: 1.2rem;" onclick="movePage(1);">&lt;&lt;</button>
				<!--이전 페이지 -->
				<button class="page-link px-3" style="font-size: 1.2rem;" th:onclick="|movePage(${pageInfo.prevPage}');|">&lt;</button>
			
				<!-- 10개 페이지 -->
				<th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
					<th:block th:if="${status.current == pageInfo.currentPage}">
						<button class="page-link px-3" style="font-size: 1.2rem;" disabled>[[${status.current}]]</button>
					</th:block>
					<th:block th:if="${status.current != pageInfo.currentPage}">
						<button class="page-link px-3" style="font-size: 1.2rem;" th:onclick="|movePage(${status.current});|">
							[[${status.current}]]
						</button>
					</th:block>
				</th:block>

				<!--다음 페이지 -->
				<button class="page-link px-3" style="font-size: 1.2rem;" th:onclick="|movePage(${pageInfo.nextPage});|">&gt;</button>
				<!-- 마지막 페이지 -->
				<button class="page-link px-3" style="font-size: 1.2rem;" th:onclick="|movePage(${pageInfo.maxPage});|">&gt;&gt;</button>
			</div>
		</th:block>
		<!-- page부 종료 -->
		
      </div>
    </form>
    </main>
    
    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>
    
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.min.js"></script>
  </body>
</html>


<script type="text/javascript">
	function movePage(page){
		searchForm.page.value = page;
		searchForm.submit();
	}
</script>

