<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- Vendor styles-->
    <link rel="stylesheet" media="screen" href="assets/vendor/aos/dist/aos.css" />
    <head th:fragment="head" th:replace="~{common/layout :: head}"></head>


  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>
    <!-- Page wrapper-->
    <main class="page-wrapper">
      <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
      <header class="navbar navbar-expand-lg fixed-top bg-light py-0 fs-5">
        <div class="container">
          <a class="navbar-brand p-2 swap-image" href="index.html">
            <img src="assets/img/logo_crimson.png" class="swap-to" width="50" />
            <div class="swap-from">
              <img src="assets/img/logo_black.png" class="d-dark-mode-none" width="50" />
              <img src="assets/img/logo_dark_gray.png" class="d-none d-dark-mode-block" width="50" />
            </div>
          </a>
          <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode" />
            <label class="form-check-label" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
            <label class="form-check-label" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
          </div>
          <div class="nav align-items-center order-lg-3 ms-n1 me-3 me-sm-0">
            <a class="nav-link position-relative fs-4 p-2" href="#cartOffcanvas" data-bs-toggle="offcanvas">
              <i class="ai-cart"></i>
            </a>
            <a class="nav-link fs-4 p-2 mx-sm-1 d-none d-sm-flex" href="account-signin.html">
              <i class="ai-user"></i>
            </a>
          </div>
          <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px">
              <li class="nav-item active"><a class="nav-link fw-bold" href="#">문화재</a></li>
              <li class="nav-item"><a class="nav-link fw-bold" href="#">박물관</a></li>
              <li class="nav-item"><a class="nav-link fw-bold" href="#">행사일정</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">전시</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-item" href="#">박물관 전시</a></li>
                  <li class="dropdown"><a class="dropdown-item" href="#">문화재 전시</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">투어</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-item" href="#">나의 투어플랜 만들기</a></li>
                  <li class="dropdown"><a class="dropdown-item" href="#">투어 인원 모집</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">커뮤니티</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-item" href="#">문화 소식</a></li>
                  <li class="dropdown"><a class="dropdown-item" href="#">자유게시판</a></li>
                  <li class="dropdown"><a class="dropdown-item" href="#">포토게시판</a></li>
                </ul>
              </li>
              <li class="nav-item border-top mt-2 py-2 d-sm-none">
                <a class="nav-link" href="account-signin.html">
                  <i class="ai-user fs-lg me-2"></i>
                  Sign In
                </a>
              </li>
            </ul>
            <div class="d-sm-none p-3 mt-n3">
              <a class="btn btn-primary w-100 mb-1" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank" rel="noopener">
                <i class="ai-cart fs-xl me-2 ms-n1"></i>
                Buy now
              </a>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page content-->
      <section class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">홈</a></li>
            <li class="breadcrumb-item"><a href="shop-catalog.html">박물관 검색</a></li>
            <li class="breadcrumb-item"><a href="shop-catalog.html">박물관 상세</a></li>
            <li class="breadcrumb-item"><a href="shop-catalog.html" style="color: #e39d2c">예약하기</a></li>
          </ol>
        </nav>
        <!-- Page title-->
        <h2 class="pb-3 text-center">전시 해설 예약</h2>
        <!-- Item-->
        <div class="row align-items-center mb-5">
          <div class="col-5">
            <a class="d-block position-relative" href="portfolio-single-v1.html">
              <div class="rounded-5 position-absolute top-0 start-0 w-100 h-100"></div>
              <img
                class="d-block position-relative zindex-2 mx-auto"
                src="https://www.museum.go.kr/uploadfile/ecms/media/2023/01/2923999D-4175-39CB-89ED-B9AA0EB4E41E_thumb.png"
                width="400"
                alt="Image"
                style="border-radius: 7%" />
            </a>
          </div>
          <div class="col-7">
            <p class="fs-md pb-3 pb-lg-4 mb-1">스마트 큐레이터 | 가족 | 선착순</p>
            <h2 class="h4 mb-4">7월 이야기가 있는 전시해설 ‘스마트 큐레이터’ (월~금)</h2>
            <p class="fs-sm my-1">대상 : 가족</p>
            <p class="fs-sm my-1">기간 : 2023-07-01 ~ 2023-07-31</p>
            <p class="fs-sm my-1 mb-4">접수 : 온라인 (접수중)</p>
            <a class="btn btn-sm btn-outline-primary" href="portfolio-single-v1.html">예약하기</a>
          </div>
        </div>
        <!-- Item-->
        <div class="row align-items-center mb-5">
          <div class="col-5">
            <a class="d-block position-relative" href="portfolio-single-v1.html">
              <div class="rounded-5 position-absolute top-0 start-0 w-100 h-100"></div>
              <img
                class="d-block position-relative zindex-2 mx-auto"
                src="https://www.museum.go.kr/uploadfile/ecms/media/2023/01/2923999D-4175-39CB-89ED-B9AA0EB4E41E_thumb.png"
                width="400"
                alt="Image"
                style="border-radius: 7%" />
            </a>
          </div>
          <div class="col-7">
            <p class="fs-md pb-3 pb-lg-4 mb-1">스마트 큐레이터 | 가족 | 선착순</p>
            <h2 class="h4 mb-4">7월 이야기가 있는 전시해설 ‘스마트 큐레이터’ (월~금)</h2>
            <p class="fs-sm my-1">대상 : 가족</p>
            <p class="fs-sm my-1">기간 : 2023-07-01 ~ 2023-07-31</p>
            <p class="fs-sm my-1 mb-4">접수 : 온라인 (접수중)</p>
            <a class="btn btn-sm btn-outline-primary" href="portfolio-single-v1.html">예약하기</a>
          </div>
        </div>
        <!-- Item-->
        <div class="row align-items-center mb-5">
          <div class="col-5">
            <a class="d-block position-relative" href="portfolio-single-v1.html">
              <div class="rounded-5 position-absolute top-0 start-0 w-100 h-100"></div>
              <img
                class="d-block position-relative zindex-2 mx-auto"
                src="https://www.museum.go.kr/uploadfile/ecms/media/2023/01/2923999D-4175-39CB-89ED-B9AA0EB4E41E_thumb.png"
                width="400"
                alt="Image"
                style="border-radius: 7%" />
            </a>
          </div>
          <div class="col-7">
            <p class="fs-md pb-3 pb-lg-4 mb-1">스마트 큐레이터 | 가족 | 선착순</p>
            <h2 class="h4 mb-4">7월 이야기가 있는 전시해설 ‘스마트 큐레이터’ (월~금)</h2>
            <p class="fs-sm my-1">대상 : 가족</p>
            <p class="fs-sm my-1">기간 : 2023-07-01 ~ 2023-07-31</p>
            <p class="fs-sm my-1 mb-4">접수 : 온라인 (접수중)</p>
            <a class="btn btn-sm btn-outline-primary" href="portfolio-single-v1.html">예약하기</a>
          </div>
        </div>
      </section>
    </main>
    
    <!-- Footer-->
    <footer th:replace="~{common/layout :: #footer}"></footer>
    
    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
      </svg>
      <i class="ai-arrow-up"></i>
    </a>
    <!-- Vendor scripts: js libraries and plugins-->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/aos/dist/aos.js"></script>
    <!-- Main theme script-->
    <script src="assets/js/theme.min.js"></script>
  </body>
</html>
